.footer {
    color: white;
    position: relative;
    text-align: center;
    background-color: #e61a23 !important;
   padding: 0;
}

.columna {
    width: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #585454;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
   display: flex;
    justify-content: center;
    align-items: center;
   
}
.footer-contactanos{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    cursor: pointer;
}
.letra-num-contac{
    font-size: 30px;
}
.footer-siguenos{
    font-weight: bolder;
    text-align: center;
    display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;

}
.row {
    margin-bottom: 8px;
}

.contenedor-footer {
    background-color: #d0cccc;
    padding-top: 60px;
   
    width: 100%;
    
   /* padding-left: 15%;*/
    padding-bottom: 20px;
}

.img-marvi {
    /* background-image: url("../../../assets/images/logo-footer.png"); */
    margin-top: 10px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    height: 70px;
}

.librito{
   text-align: center;
   display: flex;
    justify-content: center;
    align-items: center;
}
.modal-title{
    width: 100%;
}

.parrafo-0{
    text-align: justify;
    margin-bottom: 10px;
    font-size: 14px;
}
.md-body{
    color: white;
    background-color: #e61a23;
}
.titulo {
    background-color: #e61a23;
    color: white;
    padding-left: 20px;
    border-top-left-radius: 25px;
   
}
.cuerpo {
    background-color: white;
    border-color: #e61a23 !important;
    border-width: 4px !important;
    padding-left: 10px;
    margin-right: 20px;
    width: 100%;
    
    border-bottom-right-radius: 25px;
}
.info-sucu {
    text-align: left;
    margin-bottom: 10   px;
}
.fa-check-circle{
    color: #e61a23;
    margin-right: 10px;
}
.pf-subtitulos{
    font-weight: bold;
}
.btn-envio-solicitud {
    background-color: #e61a23;
    border: none;
}
.reclamaciones{
    text-decoration: wavy;
    color: #585454;
}
a{
    text-decoration: wavy;
    color:#212529;
}

.columna:hover,.reclamaciones:hover{
    color: #423d3d;
    transform: scale(1.1);
    
}
.letra-soluc{
    font-size: 14px;
    margin-bottom: 15px;
}
.letra-num-contac{
    display: flex;
    flex-basis: 30%;
    gap: 3px;
    font-size: small;
}

.logo__mrvsr{
    text-align: center;
}

@media only screen and (max-width: 600px) {
.footer-siguenos,.footer-contactanos {
    font-weight: bolder;
    text-align: left;
    display: flex;
    justify-content: left;
     cursor: pointer;
}

.footer-contactanos{
    flex-direction: row;
    justify-content: left;
    align-items: center;
    font-weight: bolder;
    cursor: pointer;
}
.letra-num-contac{
    font-size: x-small;
    gap: 2px;
}
}