<footer>
  <div class="ctn-footer">
    <div class="top">
      <div class="left">
        <a routerLink="/">
          <img src="assets/images/LOGO_TRAZO.png" alt="">
        </a>
        <div class="ctn-social-networks">
          <a href="https://www.facebook.com/MARVISUROFICIAL" class="facebook" target="_blank">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
          <a href="https://www.instagram.com/expreso_marvisur" target="_blank">
              <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="https://www.tiktok.com/@marvisur.oficial" target="_blank">
              <i class="fa-brands fa-tiktok"></i>
          </a>
          <a class="final" href="https://www.linkedin.com/company/expreso-marvisur-e-i-r-l" target="_blank">
              <i class="fa-brands fa-linkedin-in"></i>
          </a>
        </div>
      </div>
      <div class="center">
        <ul>
          <h6>Secciones</h6>
          <li>
            <a routerLink="seccion/preguntas-frecuentes">
              <i class="fa-solid fa-angle-right"></i>
              Preguntas frecuentes
            </a>
          </li>
          <li>
            <a routerLink="seccion/soluciones-en-linea">
              <i class="fa-solid fa-angle-right"></i>
              Soluciones en línea
            </a>
          </li>
          <li>
            <a routerLink="seccion/terminos&condiciones">
              <i class="fa-solid fa-angle-right"></i>
              Términos y condiciones
            </a>
          </li>
          <li>
            <a routerLink="seccion/buzon-de-sugerencias">
              <i class="fa-solid fa-angle-right"></i>
              Buzón de sugerencias
            </a>
          </li>
        </ul>
      </div>
      <div class="right">
        <ul>
          <li>
            <a href="https://www.expresomarvisur.online/reclamaciones/" target="_blank" class="reclamaciones">
              Libro de reclamaciones
            </a>
          </li>
          <li>
            <a href="https://www.expresomarvisur.online/reclamaciones/" target="_blank">
              <img src="assets/images/libro-footer.png">
            </a>
          </li>
          <li>
            <a class="link-phone" href="tel:013311909">
              <i class="fa-solid fa-phone"></i>
              <span>980 660 690</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="bottom">
      <span>
        &copy; AREQUIPA EXPRESO MARVISUR E.I.R.L
      </span>
    </div>
  </div>
</footer>