<head>
  <meta name="title" content="Arequipa Expreso Marvisur" />
  <meta
    name="description"
    content="Somos la empresa peruana con mayor cobertura a nivel nacional en el transporte de carga por vía terrestre. Realiza tu seguimiento(tracking) desde nuestra web."
  />
  <meta
    name="keywords"
    content="Marvisur, Marvisur Arequipa, Marvisur Lima, Expreso Marvisur, Marvisur seguimiento, seguimiento marvisur, Marvisur rastreo, rastreo Marvisur"
  />
  <meta name="robots" content="index, follow" />
  <meta name="revisit-after" content="7 days" />
  <meta
    property="og:title"
    content="Arequipa Expreso Marvisur: Toda carga a nivel nacional | Marvisur Página principal"
  />
  <meta
    property="og:site_name"
    content="Sucursales de Arequipa Expreso Marvisur"
  />
  <meta property="og:url" content="https://www.expresomarvisur.com" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="es" />
  <meta
    property="og:description"
    content="Somos la empresa peruana con mayor cobertura a nivel nacional en el transporte de carga por vía terrestre. Realiza tu seguimiento(tracking) desde nuestra web."
  />
  <meta
    property="og:image"
    content="https://www.expresomarvisur.com/assets/images/LOGO_MARVISUR.png"
  />
</head>

<main class="home">
  <!-- Slider -->
  <section id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="traking">
          <div class="ctn-tracking" id="rastreadoenvio">
            <h2>RASTREA TU ENVÍO</h2>
            <div class="ctn-form">
              <form (ngSubmit)="onSubmitInfoTraking(cotizaUserForm)" #cotizaUserForm="ngForm">
                <div class="box-input-group">
                  <input
                    type="text"
                    [(ngModel)]="rastreo.serie"
                    name="serie"
                    #serie="ngModel"
                    class="left"
                    placeholder="Serie"
                    autocomplete="off"
                    maxlength="4"
                    minlength="4"
                    (keypress)="singleNumber($event)"
                  />
                  <b>/</b>
                  <input
                    type="text"
                    [(ngModel)]="rastreo.numero"
                    name="numero"
                    #serie="ngModel"
                    class="right"
                    placeholder="Número"
                    autocomplete="off"
                    maxlength="7"
                    minlength="7"
                    (keypress)="singleNumber($event)"
                  />
                </div>
                <button type="submit" class="btn btn-search">
                  <i class="fa-solid fa-magnifying-glass fa-fade"></i>
                </button>
                <!-- <div class="btn btn-info" [tooltip]="tolTemplate"></div>
                <ng-template #tolTemplate triggers="hover">
                  <img src="assets/images/info-rastrea.png" loading="lazy" />
                </ng-template> -->
              </form>
            </div>
          </div>
        </div>
        <!-- <div class="ctn-box">
          <div class="front">
            <div class="left">
              <div class="h1-font">
                <div class="normal">Nueva</div>
                <div class="amertha">Sucursal</div>
              </div>
              <a class="title-place" routerLink="/sucursales">Magdalena</a>
              <div class="bottom-place">
                <img src="assets/slide/icono ubicacion.png" />
                <span>Jr. Castillo 1080 Magdalena del Mar - Lima - Lima</span>
              </div>
              <a class="link-phone" href="tel:013311909">
                <i class="fa-solid fa-phone"></i>
                <span>980 660 690</span>
              </a>
            </div>
            <div class="right">
              <img src="assets/slide/IMAGEN DEL PERSONAL.png" class="persons" />
            </div>
          </div>
        </div> -->
        <div class="back-portada">
          <img src="assets/newimg/home_portada.jpg" alt="">
        </div>
        <!-- <img src="assets/slide/FONDO CAMION ROJO.png" class="trailer" /> -->
      </div>
    </div>
    <!-- <div class="carousel-control">
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <i class="fa-solid fa-chevron-left"></i>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <i class="fa-solid fa-chevron-right"></i>
        <span class="visually-hidden">Next</span>
      </button>
    </div> -->
  </section>
  
  <section id="relevant" class="relevant">
    <div class="ctn-img-link" id="ctn-relevant">
      <div class="a-img" mat-button (click)="openTermsAndConditions()">
        <i class="fa-solid fa-building-shield"></i>
        <span>Términos y condiciones</span>
      </div>
      <a class="a-img" routerLink="/seccion/soluciones-en-linea">
        <i class="fa-solid fa-comments"></i>
        <span>Soluciones en línea</span>
      </a>
      <a class="a-img directorio" href="https://online.fliphtml5.com/ekxyo/jrqp/#p=1" target="_blank">
        <i class="fa-solid fa-book"></i>
        <span>Directorio</span>
      </a>
    </div>
  </section>

  <section id="fondonegroinicio" class="fondonegroinicio">
    <div class="col">
      <div class="ctn-box">
        <div class="box-numbers">
          <h4>{{ cantidadanios }}</h4>
          <div class="subtitle subtitle1">Años</div>
          <div class="subtitle subtitle2">Uniendo al Perú.</div>
        </div>
        <div class="box-numbers">
          <h4>{{ cantidadSucursales }}</h4>
          <div class="subtitle subtitle1">Sucursales</div>
          <div class="subtitle subtitle2">En la costa, sierra y selva.</div>
        </div>
        <div class="box-numbers">
          <h4>+{{ cantidadTrabajadores }}</h4>
          <div class="subtitle subtitle1">Trabajadores</div>
          <div class="subtitle subtitle2">A su servicio.</div>
        </div>
      </div>
      <div class="ctn-gif">
        <img src="assets/gif/GIF-CARRO-CARRETERA-WEB.gif" alt="Descripción del gif" loading="lazy">
      </div>
    </div>
  </section>

  <section class="why-choose-us">
    <h3>¿POR QUÉ ELEGIRNOS?</h3>
    <div class="ctn-img-link" id="ctn-wcu" [class.visible]="showWhyChooseUs" [class.hidden]="!showWhyChooseUs">
      <div class="a-img" *ngFor="let item2 of dataWhyChooseUs; let i = index">
        <img src="assets/images/{{ item2.image_name }}.png" loading="lazy" />
      </div>
    </div>
  </section>

  <section class="services">
    <h3>NUESTROS SERVICIOS</h3>
    <div class="ctn-services" id="ctn-services" [class.visible]="showServices" [class.hidden]="!showServices">
      <div class="ctn-s-info">
        <mat-stepper [orientation]="'vertical'" (selectionChange)="onSelectionChange($event)">
          <mat-step [stepControl]="groupNumberServices" label="TRANSPORTE DE CARGA">
            <p>
              Brindamos un servicio de calidad en el transporte de toda variedad
              de carga, como paquetería, carga ligera y carga pesada, con
              excelentes tiempos de entrega.
            </p>
          </mat-step>
          <mat-step [stepControl]="groupNumberServices" label="SERVICIO EXPRESO">
            <p>
              Brindamos a su empresa un servicio directo, para el traslado
              exclusivo de su mercadería, con furgón cerrado desde la puerta de
              su empresa de origen hasta su puerta de destino.
            </p>
          </mat-step>
          <mat-step [stepControl]="groupNumberServices" label="SERVICIO DE MUDANZA">
            <p>
              Brindamos un servicio seguro y de calidad en las mudanzas,
              realizando el recojo desde el domicilio con personal muy
              capacitado y un servicio personalizado hasta el destino que nos
              indique.
            </p>
          </mat-step>
        </mat-stepper>
      </div>
      <div class="ctn-s-image">
        <img src="assets/newimg/{{ imgChangeTruck }}.png" loading="lazy" class="{{ imgChangeTruck }}">
      </div>
    </div>
  </section>

  <section class="news">
    <h3>PUBLICACIONES:</h3>
    <a routerLink="seccion/publicaciones" class="post-link">
      <span>ver más</span>
      <i class="fa-solid fa-arrow-right"></i>
    </a>
    <div class="card-inner-news" id="ctn-news" [class.visible]="showNews" [class.hidden]="!showNews">
      <a target="_blank" href="https://www.facebook.com/MARVISUROFICIAL/photos/a.145591065968168/1500245460502715/">
        <img src="assets/images/news/CENTRO DE ACOPIO LOS OLIVOS 3.jpg" alt="" loading="lazy">
      </a>
      <a target="_blank" href="https://www.facebook.com/MARVISUROFICIAL/photos/a.145591065968168/1514174475776480/">
        <img src="assets/images/news/NOS MUDAMOS huacho.jpg" alt="" loading="lazy">
      </a>
      <a target="_blank" href="https://www.facebook.com/MARVISUROFICIAL/photos/a.145591065968168/1509513512909243/">
        <img src="assets/images/news/puente piedra 3.jpg" alt="" loading="lazy">
      </a>
		</div>
  </section>

  <!-- Modal -->
  <info-tracking-modal
    [primeraInfo]="primeraInfo"
    [infoRastreo]="infoRastreo"
    [flagResponseTrack]="flagResponseTrack"
    >
  </info-tracking-modal>
</main>