<head>
  <meta name="title" content="Arequipa Expreso Marvisur" />
  <meta
    name="description"
    content="Somos la empresa peruana con mayor cobertura a nivel nacional en el transporte de carga por vía terrestre. Realiza tu seguimiento(tracking) desde nuestra web."
  />
  <meta
    name="keywords"
    content="Marvisur, Marvisur Arequipa, Marvisur Lima, Expreso Marvisur, Marvisur seguimiento, seguimiento marvisur, Marvisur rastreo, rastreo Marvisur"
  />
  <meta name="robots" content="index, follow" />
  <meta name="revisit-after" content="7 days" />
  <meta
    property="og:title"
    content="Arequipa Expreso Marvisur: Toda carga a nivel nacional | Marvisur Página principal"
  />
  <meta
    property="og:site_name"
    content="Sucursales de Arequipa Expreso Marvisur"
  />
  <meta property="og:url" content="https://www.expresomarvisur.com" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="es" />
  <meta
    property="og:description"
    content="Somos la empresa peruana con mayor cobertura a nivel nacional en el transporte de carga por vía terrestre. Realiza tu seguimiento(tracking) desde nuestra web."
  />
  <meta
    property="og:image"
    content="https://www.expresomarvisur.com/assets/images/LOGO_MARVISUR.png"
  />
</head>

<main class="home">
  <!-- Slider -->
  <section id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="ctn-box">
          <div class="front">
            <div class="left">
              <img src="assets/slide/NUEVA SUCURSAL.png" class="title" />
              <a class="title-place" routerLink="/sucursales">Magdalena</a>
              <div class="bottom-place">
                <img src="assets/slide/icono ubicacion.png" />
                <span>Jr. Castillo 1080 Magdalena del Mar - Lima - Lima</span>
              </div>
              <a class="link-phone" href="tel:013311909">
                <i class="fa-solid fa-phone"></i>
                <span>980 660 690</span>
              </a>
            </div>
            <div class="right">
              <img src="assets/slide/IMAGEN DEL PERSONAL.png" class="persons" />
            </div>
          </div>
        </div>
        <img src="assets/slide/FONDO CAMION ROJO.png" class="trailer" />
      </div>
      <!-- <div class="carousel-item">
            <img src="assets/images/carousel/sucursalChosica.jpg" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="assets/images/carousel/sucursalLince.jpg" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="assets/images/carousel/sucursalLurin.jpg" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="assets/images/carousel/sucursalSMP.jpg" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="assets/images/carousel/sucursalVMT.jpg" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="assets/images/carousel/nuevaSucursalMagdalena.jpg" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="assets/images/carousel/nuevaSucursalRimac.jpg" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="assets/images/carousel/sucursalOlivosIII.jpg" class="d-block w-100">
          </div> -->
    </div>
    <div class="carousel-control">
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <i class="fa-solid fa-chevron-left"></i>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <i class="fa-solid fa-chevron-right"></i>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  <section class="box-card-red">
    <div class="ctn-tracking" id="rastreadoenvio">
      <h2>RASTREA TU ENVÍO</h2>
      <div class="ctn-form">
        <form (ngSubmit)="onSubmit(cotizaUserForm)" #cotizaUserForm="ngForm">
          <input
            type="text"
            [(ngModel)]="rastreo.serie"
            name="serie"
            #serie="ngModel"
            class="left"
            placeholder="Serie"
          />
          <input
            type="text"
            [(ngModel)]="rastreo.numero"
            name="numero"
            #serie="ngModel"
            class="right"
            placeholder="Número"
          />
          <div class="ctn-buttons">
            <button
              type="submit"
              data-toggle="modal"
              data-target="#exampleModalLong"
              class="btn btn-search"
            ></button>
            <button class="btn btn-info" [tooltip]="tolTemplate"></button>
            <ng-template #tolTemplate triggers="hover">
              <img src="assets/images/info-rastrea.png" />
            </ng-template>
          </div>
        </form>
      </div>
    </div>
  </section>

  <section class="relevant">
    <div class="ctn-img-link">
      <a class="a-img" routerLink="/cotizacion">
        <img src="assets/images/cotizanuevo.png" />
      </a>
      <a class="a-img" routerLink="/sucursales">
        <img src="assets/images/sucursalnuevo.png" />
      </a>
      <div class="a-img" mat-button (click)="openDialog()">
        <img
          src="assets/images/terminosnuevo.png"
          data-toggle="modal"
          data-target="#modalReclamaciones"
        />
      </div>
      <a class="a-img" routerLink="/solucionesenlinea">
        <img src="assets/images/solucionesnuevo.png" />
      </a>
    </div>
  </section>

  <section class="fondonegroinicio">
    <div class="col">
      <div class="ctn-box">
        <div class="box-numbers">
          <h4>{{ cantidadanios }}</h4>
          <div class="subtitle subtitle1">Años</div>
          <div class="subtitle subtitle2">Uniendo al Perú.</div>
        </div>
        <div class="box-numbers">
          <h4>{{ cantidadSucursales }}</h4>
          <div class="subtitle subtitle1">Sucursales</div>
          <div class="subtitle subtitle2">En la costa, sierra y selva.</div>
        </div>
        <div class="box-numbers">
          <h4>+{{ cantidadTrabajadores }}</h4>
          <div class="subtitle subtitle1">Trabajadores</div>
          <div class="subtitle subtitle2">A su servicio.</div>
        </div>
        <div class="box-numbers">
          <h4>{{ cantidadGuias }}</h4>
          <div class="subtitle subtitle1">Guías de remisión</div>
          <div class="subtitle subtitle2">
            Atendidas con clientes satisfechos.
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="why-choose-us">
    <h3>¿POR QUÉ ELEGIRNOS?</h3>
    <div class="ctn-img-link">
      <div class="a-img">
        <img src="assets/images/coberturanuevo.png" />
      </div>
      <div class="a-img">
        <img src="assets/images/servicionuevo.png" />
      </div>
      <div class="a-img">
        <img src="assets/images/flotavehicularnuevo.png" />
      </div>
      <div class="a-img">
        <img src="assets/images/monitoreonuevo.png" />
      </div>
      <div class="a-img">
        <img src="assets/images/clientescorponuevo.png" />
      </div>
    </div>
  </section>

  <section class="services">
    <h3>NUESTROS SERVICIOS</h3>
    <div class="ctn-services">
      <div class="ctn-s-info">
        <mat-stepper [orientation]="(stepperOrientation | async)!">
          <mat-step [stepControl]="firstFormGroup" label="TRANSPORTE DE CARGA">
            <p>
              Brindamos un servicio de calidad en el transporte de toda variedad
              de carga, como paquetería, carga ligera y carga pesada, con
              excelentes tiempos de entrega.
            </p>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup" label="SERVICIO EXPRESO">
            <p>
              Brindamos a su empresa un servicio directo, para el traslado
              exclusivo de su mercadería, con furgón cerrado desde la puerta de
              su empresa de origen hasta su puerta de destino.
            </p>
          </mat-step>
          <mat-step [stepControl]="thirdFormGroup" label="SERVICIO DE MUDANZA">
            <p>
              Brindamos un servicio seguro y de calidad en las mudanzas,
              realizando el recojo desde el domicilio con personal muy
              capacitado y un servicio personalizado hasta el destino que nos
              indique.
            </p>
          </mat-step>
        </mat-stepper>
      </div>
      <div class="ctn-s-image">
        <img src="assets/images/transportecargaexpreso.png">
      </div>
    </div>
  </section>

  <section class="news">
    <h3>PUBLICACIONES:</h3>
    <div class="card-inner-news" (click)="onClick()">
			<div class="card-face card-face-f">
				<h2>Card Front</h2>
			</div>
			<div class="card-face card-face-b">
				<div class="card-content">
					<div class="card-header">
						<img src="assets/images/noticia1.png" alt="" class="pp" />
						<h2>Tyler Potts</h2>
					</div>
					<div class="card-body">
						<h3>JavaScript Wizard</h3>
						<p>Lorem ipsum <strong>dolor</strong> sit amet, consectetur <strong>adipiscing</strong> elit. Sed id erat a magna lobortis dictum. Nunc est arcu, <strong>lacinia</strong> quis sapien placerat, <strong>laoreet</strong> tincidunt nulla.</p>
            <a href="https://www.facebook.com/MARVISUROFICIAL/photos/a.145591065968168/1514174475776480/" target="_blank">link</a>
					</div>
				</div>
			</div>
		</div>
    <!-- <div class="contenedor-noticia col-lg-12">
      <swiper
        [slidesPerView]="3"
        [spaceBetween]="-20"
        [slidesPerGroup]="1"
        [loop]="true"
        [loopFillGroupWithBlank]="true"
        [navigation]="true"
        [observeParents]="true"
        class="mySwiper"
      >
        <ng-template swiperSlide>
          <div class="contenedorNoticia">
            <div>
              <img src="assets/images/056_tacna.png" class="img-noticia" />
            </div>
            <div>
              <div class="letra2">Nueva Sucursal</div>
              <div class="letra2">
                TACNA II &nbsp;&nbsp;&nbsp;<span
                  class="fa fa-chevron-down fa-1x"
                ></span>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="contenedorNoticia">
            <div>
              <img src="assets/images/post_estafa.png" class="img-noticia" />
            </div>
            <div>
              <div class="letra2">Estafa</div>
              <div class="letra2">
                &nbsp;&nbsp;&nbsp;<span class="fa fa-chevron-down fa-1x"></span>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="contenedorNoticia">
            <div>
              <img src="assets/images/069_juliaca.png" class="img-noticia" />
            </div>
            <div>
              <div class="letra2">Nueva Sucursal</div>
              <div class="letra2">
                JULIACA &nbsp;&nbsp;&nbsp;<span
                  class="fa fa-chevron-down fa-1x"
                ></span>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="contenedorNoticia">
            <div>
              <img src="assets/images/post_marvi.png" class="img-noticia" />
            </div>
            <div>
              <div class="letra2">Equipo Marvisur</div>
              <div class="letra2">
                &nbsp;&nbsp;&nbsp;<span class="fa fa-chevron-down fa-1x"></span>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="contenedorNoticia">
            <div>
              <img src="assets/images/Mud_tumbes.png" class="img-noticia" />
            </div>
            <div>
              <div class="letra2">Nos mudamos</div>
              <div class="letra2">
                TUMBES &nbsp;&nbsp;&nbsp;<span
                  class="fa fa-chevron-down fa-1x"
                ></span>
              </div>
            </div>
          </div>
        </ng-template>
      </swiper>
    </div> -->

    <!-- <div class="contenedor-noticiacel col-lg-12">
      <swiper
        [slidesPerView]="1"
        [spaceBetween]="20"
        [slidesPerGroup]="1"
        [loop]="true"
        [loopFillGroupWithBlank]="true"
        [navigation]="true"
        [observeParents]="true"
        class="mySwiper"
      >
        <ng-template swiperSlide>
          <div class="contenedorNoticia">
            <div>
              <img src="assets/images/056_tacna.png" class="img-noticia" />
            </div>
            <div>
              <div class="letra2">Nueva Sucursal</div>
              <div class="letra2">
                TACNA &nbsp;&nbsp;&nbsp;<span
                  class="fa fa-chevron-down fa-1x"
                ></span>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="contenedorNoticia">
            <div>
              <img src="assets/images/post_estafa.png" class="img-noticia" />
            </div>
            <div>
              <div class="letra2">Estafa</div>
              <div class="letra2">
                &nbsp;&nbsp;&nbsp;<span class="fa fa-chevron-down fa-1x"></span>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="contenedorNoticia">
            <div>
              <img src="assets/images/Mud_tumbes.png" class="img-noticia" />
            </div>
            <div>
              <div class="letra2">Nos mudamos</div>
              <div class="letra2">
                TUMBES &nbsp;&nbsp;&nbsp;<span
                  class="fa fa-chevron-down fa-1x"
                ></span>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="contenedorNoticia">
            <div>
              <img src="assets/images/post_marvi.png" class="img-noticia" />
            </div>
            <div>
              <div class="letra2">Equipo Marvisur</div>
              <div class="letra2">
                &nbsp;&nbsp;&nbsp;<span class="fa fa-chevron-down fa-1x"></span>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="contenedorNoticia">
            <div>
              <img src="assets/images/069_juliaca.png" class="img-noticia" />
            </div>
            <div>
              <div class="letra2">Nueva Sucursal</div>
              <div class="letra2">
                JULIACA &nbsp;&nbsp;&nbsp;<span
                  class="fa fa-chevron-down fa-1x"
                ></span>
              </div>
            </div>
          </div>
        </ng-template>
      </swiper>
    </div> -->
  </section>

  <div
    class="modal fade"
    id="exampleModalLong"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLongTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog md-tracking" role="document">
      <div class="modal-content">
        <div class="modal-header md-header">
          <h5 class="modal-title" id="exampleModalLabel">RASTREA TU ENVIO</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="cnt" *ngIf="infoRastreo.length != 0">
            <div class="form-group tabla-info-tracking">
              <div class="row row-modal">
                <div class="letra-info col-lg-2">ORIGEN:</div>
                <div class="letra-tracking col-11 col-lg-3">
                  {{ primeraInfo.DEPORIGEN }}
                </div>
                <!--primeraInfo.DEPORIGEN -->
                <div class="letra-info col-lg-2">DESTINO:</div>
                <div class="letra-tracking col-11 col-lg-3">
                  {{ primeraInfo.DEPDESTINO }}
                </div>
                <!--primeraInfo.DEPDESTINO -->
              </div>

              <div class="row row-modal">
                <div class="letra-info col-lg-5">FECHA DE RECEPCIÓN:</div>
                <div class="letra-tracking col-11 col-lg-5">
                  {{ primeraInfo.FECEVENTO | date : "dd-MM-yyyy hh:mm:ss a" }}
                </div>
              </div>

              <div class="row row-modal">
                <div class="letra-info col-lg-5">REMITENTE:</div>
                <div class="letra-tracking col-11 col-lg-5">
                  {{ primeraInfo.REMITENTE }}
                </div>
              </div>
              <!--
                            <div class="row row-modal">
                                <div class="letra-info col-lg-5">DESTINATARIO: </div>
                                <div class="letra-tracking col-11 col-lg-5"> {{primeraInfo.DESTINATARIO}}   </div>
                            </div>-->
              <div class="row row-modal">
                <div class="letra-info col-lg-5">ESTADO DE PAGO:</div>
                <div class="letra-tracking col-11 col-lg-5">
                  {{ primeraInfo.PAGO }}
                </div>
              </div>
            </div>
            <div class="timeline">
              <!-- Line component -->
              <div class="line text-muted"></div>
              <!-- Separator
                            <div class="separator text-muted">
                                <time>26. 3. 2015</time>
                            </div>
                            /Separator -->
              <div class="tracking" *ngFor="let infotrack of infoRastreo">
                <article class="panel panel-danger panel-outline">
                  <div class="panel-heading icon">
                    <!-- <span class="fa fa-angle-double-right fa-4x"></span> -->
                    <div class="fondo-rastre-img">
                      <img
                        *ngIf="infotrack.ID == 0"
                        class="tracking-img"
                        src="assets/images/tracking-casita.png"
                        width="35px"
                        height="35px"
                      />
                      <img
                        *ngIf="infotrack.ID == 1"
                        class="tracking-img"
                        src="assets/images/tracking-camion.png"
                        width="35px"
                        height="35px"
                      />
                      <img
                        *ngIf="infotrack.ID == 2"
                        class="tracking-img"
                        src="assets/images/tracking-montacarga.png"
                        width="35px"
                        height="35px"
                      />
                      <img
                        *ngIf="infotrack.ID == 3"
                        class="tracking-img"
                        src="assets/images/tracking-cargador.png"
                        width="35px"
                        height="35px"
                      />
                      <img
                        *ngIf="infotrack.ID == 4"
                        class="tracking-img"
                        src="assets/images/tracking-cargador.png"
                        width="35px"
                        height="35px"
                      />
                    </div>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="letra-infotrack" *ngIf="infotrack.ID == 1">
                        &nbsp; EN RUTA &nbsp;
                      </div>
                      <div class="letra-infotrack" *ngIf="infotrack.ID == 2">
                        EN ALMACEN
                      </div>
                      <div class="letra-infotrack" *ngIf="infotrack.ID == 3">
                        ENTREGADO
                      </div>
                      <div class="letra-infotrack" *ngIf="infotrack.ID == 0">
                        RECEPCION
                      </div>
                      <div class="letra-infotrack" *ngIf="infotrack.ID == 4">
                        ATENDIDO
                      </div>
                      <div>
                        &nbsp;&nbsp;
                        {{
                          infotrack.FECEVENTO | date : "dd-MM-yyyy hh:mm:ss a"
                        }}
                      </div>
                    </div>
                    <div class="info-evento">{{ infotrack.EVENTO }}</div>
                  </div>
                </article>
              </div>
            </div>
          </div>
          <div *ngIf="infoRastreo.length == 0" class="loaderdiv col-lg-12">
            <div class="row">
              <div class="col-lg-4"></div>
              <div class="ctn-spinner" *ngIf="flagResponseTrack">
                <div class="spinner">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                Cargando datos...
              </div>
              <div *ngIf="!flagResponseTrack">Guía no encontrada</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>