@import "../../app.component.scss";
$elementos: 5;

.home {
  top: 0;
  .slide {
    .carousel-inner {
      width: 100%;
      height: 90vh;
      .carousel-item {
        position: relative;
        height: 90vh;
        .traking {
          display: flex;
          justify-content: center;
          .ctn-tracking {
            position: absolute;
            z-index: 2;
            top: 30%;
            h2 {
              font-size: 4em;
              font-family: montserrat;
              color: $blanco;
              // text-shadow: 0 0 6px $blanco;
              text-align: center;
              margin-bottom: 30px;
            }
            .ctn-form {
              form {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 40px;
                flex-wrap: wrap;
                .box-input-group {
                  background-color: $blanco;
                  border-radius: 10px;
                  height: 50px;
                  width: 280px;
                  display: flex;
                  align-items: center;
                  z-index: 5 !important;
                  b {
                    font-size: 1.7em;
                    margin-top: -5px;
                    color: $color-global-claro-2;
                  }
                  input {
                    margin: auto;
                    width: 70px;
                    color: $color-global-claro
                  }
                }
                button {
                  font-weight: bold;
                  font-size: 1.3em;
                  color: $blanco;
                  border-radius: 50%;
                  background-color: $color-global-claro;
                  width: 50px;
                  height: 50px;
                }
              }
            }
          }
        }
        .back-portada {
          img {
            width: 100%;
            height: 90vh;
            object-fit: cover;
            position: absolute;
            filter: brightness(0.5) blur(4px);
            z-index: 1;
          }
        }
        /*.ctn-box {
          position: absolute;
          bottom: 0 !important;
          right: 0;
          left: 0;
          .front {
            height: 74vh;
            bottom: 0;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 100px;
            margin: 0 50px;
            .left {
              position: absolute;
              top: -50px;
              left: 0;
              display: flex;
              flex-direction: column;
              .h1-font {
                font-size: 6em;
                .normal {
                  font-size: 1.2em;
                  font-family: montserrat;
                  text-transform: uppercase;
                  margin-left: -15px;
                }
                .amertha {
                  font-size: 1.4em;
                  margin: -120px 0 50px 40px;
                  font-family: amertha;
                  color: $color-global-claro;
                  transform: rotate(-8deg);
                }
              }
              .title-place {
                background-color: $color-global-claro;
                color: $blanco;
                border-radius: 20px;
                max-width: 200px;
                width: 100%;
                padding: 6px 0;
                text-decoration: none;
                margin: auto;
                text-align: center;
                z-index: 20;
                border: 1px solid;
                transition: 0.6s ease;
                -moz-transition: 0.6 ease;
                -webkit-transition: 0.6 ease;
                -o-transition: 0.6 ease;
                &:hover {
                  background-color: $blanco;
                  color: $color-global-claro;
                  border: 1px solid $color-global-claro;
                  transform: scale(1.2);
                  -moz-transform: scale(1.2);
                  -webkit-transform: scale(1.2);
                  -o-transform: scale(1.2);
                  -ms-transform: scale(1.2);
                  font-weight: bold;
                }
              }
              .bottom-place {
                margin: 20px;
                display: flex;
                max-width: 550px;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                gap: 20px;
                img {
                  display: block;
                  width: 50px;
                  height: auto;
                  transition: 0.6s ease;
                  -moz-transition: 0.6 ease;
                  -webkit-transition: 0.6 ease;
                  -o-transition: 0.6 ease;
                  &:hover {
                    transform: scale(1.06);
                    -moz-transform: scale(1.06);
                    -webkit-transform: scale(1.06);
                    -o-transform: scale(1.06);
                    -ms-transform: scale(1.06);
                  }
                }
                span {
                  display: block;
                  font-size: 2em;
                  width: auto;
                  font-weight: bold;
                  z-index: 20;
                  transition: 0.6s ease;
                  -moz-transition: 0.6 ease;
                  -webkit-transition: 0.6 ease;
                  -o-transition: 0.6 ease;
                  &:hover {
                    transform: scale(1.03);
                    -moz-transform: scale(1.03);
                    -webkit-transform: scale(1.03);
                    -o-transform: scale(1.03);
                    -ms-transform: scale(1.03);
                  }
                }
              }
              .link-phone {
                padding: 0;
                color: $negro;
                border: none;
                font-weight: bold;
                display: flex;
                align-items: center;
                gap: 0 20px;
                position: absolute;
                bottom: -180px;
                left: 50px;
                font-size: 1.5em;
                background-color: transparent;
                color: $color-global-claro;
                text-decoration: none;
                text-shadow: 1px 1px 2px $blanco;
              }
            }
            .right {
              position: absolute;
              bottom: 0;
              right: 0;
              .persons {
                position: relative;
                width: 700px;
                height: auto;
                z-index: 3;
                object-fit: contain;
              }
            }
          }
        }
        .trailer {
          position: absolute;
          opacity: 0.85;
          z-index: -2;
        }*/
      }
    }
    .carousel-control {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      button {
        max-width: 40px;
        width: 100%;
        height: 40px;
        margin: auto 10px;
        border-radius: 50%;
        background-color: $color-global-claro-2;
        i {
          font-size: 1.2em;
          &:hover {
            color: $blanco;
          }
        }
      }
    }
  }
  /*.box-card-red {
    position: relative;
    background-color: $color-global-claro;
    margin-top: 0;
    height: auto;
    display: flex;
    justify-content: center;
    z-index: 2;
    .ctn-tracking {
      max-width: 1200px;
      width: 100%;
      text-align: center;
      margin: 30px auto;
      h2 {
        color: $blanco;
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 20px;
      }
      .ctn-form {
        margin: auto 80px;
        form {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          gap: 20px 40px;
          input {
            max-width: 300px;
            width: 100%;
            border-radius: 20px;
            padding: 5px 15px;
            background-color: transparent;
            border: 1px solid $blanco;
            color: $blanco;
            &::placeholder {
              color: $blanco;
            }
            &:-webkit-autofill,
            :-webkit-autofill:hover, 
            :-webkit-autofill:focus {
                -webkit-box-shadow: 0 0 0px 1000px $color-global-claro inset;
                -webkit-text-fill-color: $blanco;
            }
          }
          .ctn-buttons {
            position: relative;
            max-width: 200px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px 40px;
            .btn-search {
              max-width: 120px;
              width: 100%;
              background-color: transparent;
              background-image: url($url-img + "btn-buscar-rastreo.png");
              background-size: auto;
              background-repeat: no-repeat;
              padding-bottom: 30px;
              border: none;
            }
            .btn-info {
              max-width: 120px;
              width: 100%;
              height: auto;
              background-color: transparent;
              background-image: url($url-img + "icono-admiracion.png");
              background-size: auto;
              background-repeat: no-repeat;
              width: 40px;
              position: relative;
              padding-bottom: 30px;
              border: none;
            }
            // Contenedor del info-tracking-modal
            bs-tooltip-container {
              position: absolute;
              background-color: transparent;
              display: flex;
              width: 350px;
              div {
                position: relative;
                max-width: 100%;
                // width: 100%;
                padding: 0;
                background-color: transparent;
                top: 10px;
                left: -10px;
                img {
                  // width: 100%;
                  height: 300px;
                }
              }
            }
          }
        }
      }
    }
  }*/
  .relevant {
    margin-top: -250px;
    .ctn-img-link {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px 80px;
      .a-img {
        transform: scale(.95);
        transition: transform 1s ease;
        background-color: $blanco;
        box-shadow: 0 0 10px $gris;
        width: 300px;
        height: 350px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        z-index: 5;
        i {
          font-size: 7em;
          color: $color-global-claro-3;
        }
        span {
          font-size: 2.2em;
          font-weight: bold;
          text-align: center;
          margin-top: 20px;
        }
        &:hover {
          transform: scale(1);
          background-color: $color-global-claro;
          i, span {
            color: $blanco;
          }
        }
      }
    }
  }
  // .relevant,
  .why-choose-us {
    .ctn-img-link {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 40px 90px;
      margin: 0 30px;
      .a-img {
        max-width: 150px;
        min-width: 150px;
        transition: 0.6s ease;
        -moz-transition: 0.6 ease;
        -webkit-transition: 0.6 ease;
        -o-transition: 0.6 ease;
        cursor: pointer;
        &:hover {
          transform: scale(1.2);
          -moz-transform: scale(1.2);
          -webkit-transform: scale(1.2);
          -o-transform: scale(1.2);
          -ms-transform: scale(1.2);
        }
        img {
          width: 100%;
          height: 100%;
        }
        .show {
          opacity: 1;
          transition: opacity 1s;
        }
        
        .hide {
          opacity: 0;
        }
        i {
          width: 132px;
          height: 132px;
          border-radius: 50%;
          font-size: 4em;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 5px solid $color-global-claro-3;
          color: $color-global-claro-3;
          margin-bottom: 10px;
        }
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.5em;
          font-weight: bold;
          font-style: italic;
          text-transform: uppercase;
          margin-left: -20px;
          text-align: center;
        }
      }
    }
    .visible {
      .a-img {
        @for $i from 1 through $elementos {
          &:nth-child(#{$i}) {
            transform: translateY(0);
            opacity: 1;
            transition: opacity 1s ease-in-out, transform 1s ease-in-out;
          }
        }
      }
    }
    .hidden {
      .a-img {
        @for $i from 1 through $elementos {
          &:nth-child(#{$i}) {
            transform: translateY((($i - 1) * 60) + px);
            opacity: 0;
            transition: opacity .5s ease-in-out, transform .5s ease-in-out;
          }
        }
      }
    }
  }
  .fondonegroinicio {
    margin-top: 200px;
    .col {
      .ctn-box {
        // background-image: linear-gradient(to top, #0084CA, $blanco);
        min-height: auto;
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0 120px;
        padding: 0;
        .box-numbers {
          margin: 0 50px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          h4 {
            text-align: center;
            color: $color-global-claro;
            grid-gap: 80px;
            font-size: 3.8em;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
            font-style: italic;
          }
          .subtitle {
            color: $color-global-claro;
            text-align: center;
            font-size: 1.1em;
          }
        }
      }
      .ctn-gif {
        position: relative;
        img {
          margin: auto;
          width: 100%;
        }
      }
    }
  }
  .services {
    overflow: hidden;
    position: relative;
    max-width: 1400px;
    margin: auto;
    .ctn-services {
      margin: 0 50px;
      position: relative;
      display: grid;
      grid-template-columns: 60% 40%;
      .ctn-s-info {
        display: block;
        mat-stepper {
          background-color: transparent;
          position: relative;
          left: 0;
          .ng-star-inserted {
            mat-step-header {
              background-color: transparent;
              .mat-step-icon {
               background-color: $color-global-claro; 
              }
              .mat-step-label {
                display: block;
                .mat-step-text-label {
                  color: $color-global-claro;
                  font-size: 1.3em;
                  font-weight: bold;
                  letter-spacing: 1.5px;
                  word-spacing: 4px;
                }
              }
            }
          }
        }
      }
      .ctn-s-image {
        position: relative;
        min-height: 340px;
        max-height: 340px;
        img {
          width: 100%;
          min-height: 340px;
          max-height: 340px;
          position: absolute;
          right: 0;
          text-align: center;
          &.CAMIONREPARTO_2 {
            transform: scaleX(-1);
          }
        }
      }
      &.visible {
        .ctn-s-info,
        .ctn-s-image {
          transform: translateX(0);
          opacity: 1;
          transition: opacity 1s ease-in-out, transform 1s ease-in-out;
        }
      }
      &.hidden {
        .ctn-s-info {
          transform: translateX(-280px);
          opacity: 0;
          transition: opacity .5s ease-in-out, transform .5s ease-in-out;
        }
        .ctn-s-image {
          transform: translateX(280px);
          opacity: 0;
          transition: opacity .5s ease-in-out, transform .5s ease-in-out;
        }
      }
    }
  }
  .news {
    position: relative;
    max-width: 1300px;
    width: 100%;
    .post-link {
      position: absolute;
      right: 80px;
      top: 10px;
      background-color: $color-global-claro;
      color: $blanco;
      padding: 5px 15px;
      border-radius: 20px;
      span {
        margin-right: 10px;
      }
    }
    .card-inner-news {
      position: relative;
      display: flex;
      justify-content: center;
      margin: auto;
      flex-wrap: wrap;
      gap: 50px;
      margin: 0 30px;
      a {
        width: 350px;
        height: 350px;
        display: block;
        transform: scale(1) rotate(0);
        transition: transform 0.3s ease-in-out;
        img {
          width: 100%;
          height: 100%;
          border-radius: 16px;
          box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
        }
        &:hover {
          transform: scale(1.2) rotate(5deg);
          animation: shake 0.3s ease-in-out;
          animation-iteration-count: 1;
        }
      }
    }
    .visible {
      transform: translateY(0);
      opacity: 1;
      transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    }
    .hidden {
      transform: translateY(280px);
      opacity: 0;
      transition: opacity .5s ease-in-out, transform .5s ease-in-out;
    }
  }
}
// Celular
@media only screen and (max-width: 1300px) {
  .home {
    .slide {
      .carousel-inner {
        .carousel-item {
          .front {
            .left {
              .bottom-place {
                span {
                  text-shadow: 1px 1px 2px $blanco;
                }
              }
            }
            .right {
              .persons {
                max-width: 500px;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 818px) {
  .home {
    .slide {
      .carousel-inner {
        .carousel-item {
          .front {
            .left {
              .h1-font {
                .amertha {
                  font-size: 1em !important;
                  margin: -40px 0 150px 280px !important;
                  color: $blanco !important;
                }
              }
              .bottom-place {
                span {
                  text-shadow: 1px 1px 2px $blanco;
                }
              }
              .link-phone {
                display: none !important;
              }
            }
            .right {
              .persons {
                max-width: 500px;
              }
            }
          }
        }
      }
    }
    .services {
      .ctn-services {
        display: flex;
        .ctn-s-info {
          mat-stepper .ng-star-inserted .mat-vertical-content-container {
            .ng-trigger-verticalStepTransition {
              .mat-vertical-content {
                p {
                  // text-shadow: 1px 1px 2px $negro;
                  background-color: $color-global-claro-2-transparente;
                  margin: auto !important;
                  border-radius: 15px;
                  padding: 10px;
                  font-size: 1.1em;
                  // font-weight: bold;
                  letter-spacing: .8px;
                  word-spacing: 10px;
                }
              }
            }
          }
        }
        .ctn-s-image {
          position: absolute;
          width: 400px;
          right: 0;
          z-index: -2;
          opacity: .3;
        }
      }
    }
    .news {
      .post-link {
        top: auto;
        bottom: -70px;
        right: 240px;
      }
    }
  }
}
@media only screen and (max-width: 670px) {
  .home .slide .carousel-inner .carousel-item .front .left {
    .h1-font {
      .amertha {
        margin: -40px 0 150px 200px !important;
        color: $blanco !important;
      }
    }
    .bottom-place {
      span {
        font-size: 1.5em !important;
        text-shadow: 1px 1px 1px $blanco;
      }
    }
  }
}
@media only screen and (max-width: 590px) {
  .home {
    .slide {
      .carousel-inner {
        .carousel-item {
          .front {
            .left {
              .h1-font {
                .amertha {
                  font-size: .8em !important;
                  margin: -40px 0 50px 130px !important;
                }
              }
              .bottom-place {
                span {
                  color: $blanco;
                }
              }
              .link-phone {
                display: none;
              }
            }
            .right {
              .persons {
                max-width: 400px;
                right: -5px;
              }
            }
          }
        }
      }
    }
    .services {
      .ctn-services {
        .ctn-s-image {
          width: 350px;
          margin-top: 80px;
        }
      }
    }
    .news {
      .post-link {
        right: 190px;
      }
    }
  }
}

// Efecto Shake
@keyframes shake {
  0% { transform: translate(0, 0) rotate(0); }
  20% { transform: translate(-6px, 0) rotate(-2deg); }
  40% { transform: translate(6px, 0) rotate(2deg); }
  60% { transform: translate(-6px, 0) rotate(-2deg); }
  80% { transform: translate(6px, 0) rotate(2deg); }
  100% { transform: translate(0, 0) rotate(0); }
}