@import "swiper/swiper";
@import "swiper/components/pagination/pagination";
@import "swiper/components/navigation/navigation";
@import "../../app.component.scss";

.home {
  top: 0;
  .slide {
    .carousel-inner {
      width: 100%;
      height: 90vh;
      .carousel-item {
        position: relative;
        z-index: index;
        height: 90vh;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .ctn-box {
          position: absolute;
          bottom: 0 !important;
          right: 0;
          left: 0;
          .front {
            height: 74vh;
            bottom: 0;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 100px;
            margin: 0 50px;
            .left {
              position: absolute;
              top: -50px;
              left: 0;
              display: flex;
              flex-direction: column;
              .title {
                position: relative;
                max-width: 450px;
                width: 100%;
                height: auto;
                object-fit: contain;
                margin-left: 0;
                margin-top: 60px;
              }
              .title-place {
                background-color: $color-global-claro;
                color: $blanco;
                border-radius: 20px;
                max-width: 200px;
                width: 100%;
                padding: 6px 0;
                text-decoration: none;
                margin: auto;
                text-align: center;
                z-index: 20;
                border: 1px solid;
                transition: 0.6s ease;
                -moz-transition: 0.6 ease;
                -webkit-transition: 0.6 ease;
                -o-transition: 0.6 ease;
                &:hover {
                  background-color: $blanco;
                  color: $color-global-claro;
                  border: 1px solid $color-global-claro;
                  transform: scale(1.2);
                  -moz-transform: scale(1.2);
                  -webkit-transform: scale(1.2);
                  -o-transform: scale(1.2);
                  -ms-transform: scale(1.2);
                  font-weight: bold;
                }
              }
              .bottom-place {
                margin: 20px;
                display: flex;
                max-width: 550px;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                gap: 20px;
                img {
                  display: block;
                  width: 50px;
                  height: auto;
                  transition: 0.6s ease;
                  -moz-transition: 0.6 ease;
                  -webkit-transition: 0.6 ease;
                  -o-transition: 0.6 ease;
                  &:hover {
                    transform: scale(1.06);
                    -moz-transform: scale(1.06);
                    -webkit-transform: scale(1.06);
                    -o-transform: scale(1.06);
                    -ms-transform: scale(1.06);
                  }
                }
                span {
                  display: block;
                  font-size: 2em;
                  width: auto;
                  font-weight: bold;
                  z-index: 20;
                  transition: 0.6s ease;
                  -moz-transition: 0.6 ease;
                  -webkit-transition: 0.6 ease;
                  -o-transition: 0.6 ease;
                  &:hover {
                    transform: scale(1.03);
                    -moz-transform: scale(1.03);
                    -webkit-transform: scale(1.03);
                    -o-transform: scale(1.03);
                    -ms-transform: scale(1.03);
                  }
                }
              }
              .link-phone {
                padding: 0;
                color: $negro;
                border: none;
                font-weight: bold;
                display: flex;
                align-items: center;
                gap: 0 20px;
                position: absolute;
                bottom: -250px;
                left: 50px;
                font-size: 1.5em;
                background-color: transparent;
                color: $color-global-claro;
                text-decoration: none;
                text-shadow: 1px 1px 2px $blanco;
              }
            }
            .right {
              position: absolute;
              bottom: 0;
              right: 0;
              .persons {
                position: relative;
                width: 700px;
                height: auto;
                z-index: 3;
                object-fit: contain;
              }
            }
          }
        }
        .trailer {
          position: absolute;
          opacity: 0.85;
          z-index: -2;
        }
      }
    }
    .carousel-control {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      button {
        max-width: 40px;
        width: 100%;
        height: 40px;
        margin: auto 10px;
        border-radius: 50%;
        background-color: $color-global-claro-2;
        i {
          font-size: 1.2em;
          &:hover {
            color: $blanco;
          }
        }
      }
    }
  }
  .box-card-red {
    position: relative;
    background-color: $color-global-claro;
    margin-top: 0;
    height: auto;
    display: flex;
    justify-content: center;
    z-index: 2;
    .ctn-tracking {
      max-width: 1200px;
      width: 100%;
      text-align: center;
      margin: 30px auto;
      h2 {
        color: $blanco;
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 20px;
      }
      .ctn-form {
        margin: auto 80px;
        form {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          gap: 20px 40px;
          input {
            max-width: 300px;
            width: 100%;
            border-radius: 20px;
            padding: 5px 15px;
            background-color: transparent;
            border: 1px solid $blanco;
            color: $blanco;
            &::placeholder {
              color: $blanco;
            }
          }
          .ctn-buttons {
            position: relative;
            max-width: 200px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px 40px;
            .btn-search {
              max-width: 120px;
              width: 100%;
              background-color: transparent;
              background-image: url($url-img + "btn-buscar-rastreo.png");
              background-size: auto;
              background-repeat: no-repeat;
              padding-bottom: 30px;
              border: none;
            }
            .btn-info {
              max-width: 120px;
              width: 100%;
              height: auto;
              background-color: transparent;
              background-image: url($url-img + "icono-admiracion.png");
              background-size: auto;
              background-repeat: no-repeat;
              width: 40px;
              position: relative;
              padding-bottom: 30px;
              border: none;
            }
            // Contenedor del info-tracking-modal
            bs-tooltip-container {
              position: absolute;
              background-color: transparent;
              display: flex;
              width: 350px;
              div {
                position: relative;
                max-width: 100%;
                // width: 100%;
                padding: 0;
                background-color: transparent;
                top: 10px;
                left: -10px;
                img {
                  // width: 100%;
                  height: 300px;
                }
              }
            }
          }
        }
      }
    }
  }
  .relevant,
  .why-choose-us {
    .ctn-img-link {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 40px 90px;
      margin: 0 30px;
      .a-img {
        max-width: 150px;
        min-width: 150px;
        transition: 0.6s ease;
        -moz-transition: 0.6 ease;
        -webkit-transition: 0.6 ease;
        -o-transition: 0.6 ease;
        cursor: pointer;
        &:hover {
          transform: scale(1.2);
          -moz-transform: scale(1.2);
          -webkit-transform: scale(1.2);
          -o-transform: scale(1.2);
          -ms-transform: scale(1.2);
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .fondonegroinicio {
    background-image: url($url-img + "fondonegroinicio.png");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .col {
      .ctn-box {
        min-height: 500px;
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0 120px;
        padding: 50px 0;
        .box-numbers {
          margin: 30px 50px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          h4 {
            text-align: center;
            color: $blanco;
            grid-gap: 80px;
            font-size: 3.5em;
            font-weight: bold;
          }
          .subtitle {
            color: $blanco;
            text-align: center;
            font-size: 1.1em;
          }
        }
      }
    }
  }
  .services {
    position: relative;
    max-width: 1400px;
    margin: auto;
    .ctn-services {
      margin: 0 50px;
      position: relative;
      display: grid;
      grid-template-columns: 60% 40%;
      .ctn-s-info {
        display: block;
        mat-stepper {
          background-color: transparent;
          position: relative;
          left: 0;
          .ng-star-inserted {
            mat-step-header {
              background-color: transparent;
              .mat-step-icon {
               background-color: $color-global-claro; 
              }
              .mat-step-label {
                display: block;
                .mat-step-text-label {
                  color: $color-global-claro;
                  font-size: 1.3em;
                  font-weight: bold;
                  letter-spacing: 1.5px;
                  word-spacing: 4px;
                }
              }
            }
          }
        }
      }
      .ctn-s-image {
        position: relative;
        min-height: 340px;
        max-height: 340px;
        img {
          width: 100%;
          min-height: 340px;
          max-height: 340px;
          position: absolute;
          right: 0;
          text-align: center;
        }
      }
    }
  }
  .news {
    position: relative;
    max-width: 1300px;
    width: 100%;
    .post-link {
      position: absolute;
      right: 80px;
      top: 10px;
      background-color: $color-global-claro;
      color: $blanco;
      padding: 5px 15px;
      border-radius: 20px;
      span {
        margin-right: 10px;
      }
    }
    .card-inner-news {
      position: relative;
      display: flex;
      justify-content: center;
      margin: auto;
      flex-wrap: wrap;
      gap: 50px;
      margin: 0 30px;
      a {
        width: 350px;
        height: 350px;
        display: block;
        img {
          width: 100%;
          height: 100%;
          border-radius: 16px;
          box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
  .modal {
    .md-tracking {
      overflow: auto;
      position: relative;
      .modal-content {
        .md-header {
          background-color: #e00c14;
          color: white;
        }
        .modal-body {
          .cnt {
            .form-group {
              border-radius: 10px;
              box-shadow: 2px 2px 2px 2px#878585;
              padding-top: 10px;
              padding-left: 20px;
              padding-bottom: 10px;
              margin-right: 4px;
              margin-left: 4px;
              .row-modal {
                margin-bottom: 10px;
              }
            }
            .timeline {
              position: relative;
              padding: 21px 0px 10px;
              margin-top: 4px;
              margin-bottom: 30px;
              .line {
                position: absolute;
                width: 4px;
                display: block;
                background: currentColor;
                top: 0px;
                bottom: 0px;
                background-color: #c5c0c0;
                margin-left: 30px;
                &::before {
                  top: -4px;
                }
                &::after {
                  bottom: -4px;
                }
                &::before,
                ::after {
                  content: "";
                  position: absolute;
                  left: -4px;
                  width: 12px;
                  height: 12px;
                  display: block;
                  border-radius: 50%;
                  background: currentColor;
                }
              }
              .tracking {
                article {
                  position: relative;
                  margin: 10px 0px 21px 70px;
                  clear: both;
                  border-color: transparent;
                  background: transparent;
                  box-shadow: none;
                  &::before {
                    position: absolute;
                    display: block;
                    top: 8px;
                    left: -24px;
                    content: "";
                    width: 0px;
                    height: 0px;
                    border: inherit;
                    border-width: 12px;
                    border-top-color: transparent;
                    border-bottom-color: transparent;
                    border-left-color: transparent;
                  }
                  .panel-heading {
                    * {
                      font-size: 20px;
                      vertical-align: middle;
                      line-height: 40px;
                    }
                    position: absolute;
                    left: -59px;
                    display: block;
                    width: 40px;
                    height: 40px;
                    padding: 0px;
                    border-radius: 50%;
                    text-align: center;
                    float: left;
                    .fondo-rastre-img {
                      background-color: white;
                      .tracking-img {
                        border-radius: 50%;
                        border: 1px solid #a9a6a6;
                        box-shadow: 0 0 1 5px #e2dfdf;
                        -webkit-box-shadow: 0px 0px 1px 5px #e2dfdf;
                        padding: 4px;
                      }
                    }
                    &:not(.icon) {
                      display: none;
                    }
                  }
                  .panel-body {
                    padding: 10px 0px;
                    margin-left: 5%;
                    .info-evento {
                      margin-top: 5px;
                      font-size: 13px;
                    }
                  }
                }
              }
            }
          }
          .loaderdiv {
            .row {
              .ctn-spinner {
                .spinner {
                  font-size: 30px;
                  position: relative;
                  display: inline-block;
                  width: 1em;
                  height: 1em;
                  div {
                    position: absolute;
                    left: 0.4629em;
                    bottom: 0;
                    width: 0.074em;
                    height: 0.2777em;
                    border-radius: 0.5em;
                    background-color: transparent;
                    -webkit-transform-origin: center -0.2222em;
                    -ms-transform-origin: center -0.2222em;
                    transform-origin: center -0.2222em;
                    -webkit-animation: spinner-fade 1s infinite linear;
                    animation: spinner-fade 1s infinite linear;
                    &:nth-child(1) {
                      -webkit-animation-delay: 0s;
                      animation-delay: 0s;
                      -webkit-transform: rotate(0deg);
                      -ms-transform: rotate(0deg);
                      transform: rotate(0deg);
                    }
                    &:nth-child(2) {
                      -webkit-animation-delay: 0.083s;
                      animation-delay: 0.083s;
                      -webkit-transform: rotate(30deg);
                      -ms-transform: rotate(30deg);
                      transform: rotate(30deg);
                    }
                    &:nth-child(3) {
                      -webkit-animation-delay: 0.166s;
                      animation-delay: 0.166s;
                      -webkit-transform: rotate(60deg);
                      -ms-transform: rotate(60deg);
                      transform: rotate(60deg);
                    }
                    &:nth-child(4) {
                      -webkit-animation-delay: 0.249s;
                      animation-delay: 0.249s;
                      -webkit-transform: rotate(90deg);
                      -ms-transform: rotate(90deg);
                      transform: rotate(90deg);
                    }
                    &:nth-child(5) {
                      -webkit-animation-delay: 0.332s;
                      animation-delay: 0.332s;
                      -webkit-transform: rotate(120deg);
                      -ms-transform: rotate(120deg);
                      transform: rotate(120deg);
                    }
                    &:nth-child(6) {
                      -webkit-animation-delay: 0.415s;
                      animation-delay: 0.415s;
                      -webkit-transform: rotate(150deg);
                      -ms-transform: rotate(150deg);
                      transform: rotate(150deg);
                    }
                    &:nth-child(7) {
                      -webkit-animation-delay: 0.498s;
                      animation-delay: 0.498s;
                      -webkit-transform: rotate(180deg);
                      -ms-transform: rotate(180deg);
                      transform: rotate(180deg);
                    }
                    &:nth-child(8) {
                      -webkit-animation-delay: 0.581s;
                      animation-delay: 0.581s;
                      -webkit-transform: rotate(210deg);
                      -ms-transform: rotate(210deg);
                      transform: rotate(210deg);
                    }
                    &:nth-child(9) {
                      -webkit-animation-delay: 0.664s;
                      animation-delay: 0.664s;
                      -webkit-transform: rotate(240deg);
                      -ms-transform: rotate(240deg);
                      transform: rotate(240deg);
                    }
                    &:nth-child(10) {
                      -webkit-animation-delay: 0.747s;
                      animation-delay: 0.747s;
                      -webkit-transform: rotate(270deg);
                      -ms-transform: rotate(270deg);
                      transform: rotate(270deg);
                    }
                    &:nth-child(11) {
                      -webkit-animation-delay: 0.83s;
                      animation-delay: 0.83s;
                      -webkit-transform: rotate(300deg);
                      -ms-transform: rotate(300deg);
                      transform: rotate(300deg);
                    }
                    &:nth-child(12) {
                      -webkit-animation-delay: 0.913s;
                      animation-delay: 0.913s;
                      -webkit-transform: rotate(330deg);
                      -ms-transform: rotate(330deg);
                      transform: rotate(330deg);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
// Celular
@media only screen and (max-width: 1300px) {
  .home {
    .slide {
      .carousel-inner {
        .carousel-item {
          .front {
            .left {
              .bottom-place {
                span {
                  text-shadow: 1px 1px 2px $blanco;
                }
              }
            }
            .right {
              .persons {
                max-width: 500px;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 818px) {
  .home {
    .slide {
      .carousel-inner {
        .carousel-item {
          .front {
            .left {
              .bottom-place {
                span {
                  text-shadow: 1px 1px 2px $blanco;
                }
              }
              .link-phone {
                display: none !important;
              }
            }
            .right {
              .persons {
                max-width: 500px;
              }
            }
          }
        }
      }
    }
    .services {
      .ctn-services {
        display: flex;
        .ctn-s-info {
          mat-stepper .ng-star-inserted .mat-vertical-content-container {
            .ng-trigger-verticalStepTransition {
              .mat-vertical-content {
                p {
                  // text-shadow: 1px 1px 2px $negro;
                  background-color: $color-global-claro-2-transparente;
                  margin: auto !important;
                  border-radius: 15px;
                  padding: 10px;
                  font-size: 1.1em;
                  // font-weight: bold;
                  letter-spacing: .8px;
                  word-spacing: 10px;
                }
              }
            }
          }
        }
        .ctn-s-image {
          position: absolute;
          width: 400px;
          right: 0;
          z-index: -2;
          opacity: .3;
        }
      }
    }
    .news {
      .post-link {
        top: auto;
        bottom: -70px;
        right: 240px;
      }
    }
  }
}
@media only screen and (max-width: 590px) {
  .home {
    .slide {
      .carousel-inner {
        .carousel-item {
          .front {
            .left {
              .bottom-place {
                span {
                  color: $blanco;
                }
              }
              .link-phone {
                display: none;
              }
            }
            .right {
              .persons {
                max-width: 400px;
                right: -5px;
              }
            }
          }
        }
      }
    }
    .services {
      .ctn-services {
        .ctn-s-image {
          width: 350px;
          margin-top: 80px;
        }
      }
    }
    .news {
      .post-link {
        right: 190px;
      }
    }
  }
}