.quote {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.quote .title-quote h2 {
    font-size: 4em;
    font-weight: bold;
    margin-top: 70px;
}

.btn-cotiza {
  width: 100%;
}

.boton {
  position: relative;
  left: 40%;
  bottom: 20px;
}

.fila-servicio {
  margin-left: 8%;
}
angular-file-uploader{
  background-color:white;
  border-radius: 20px;
  
}
.tabla-cotizacion {
  position: relative;
  left: 25%;
  bottom: 250px;
}

.sucup {
  height: 50px;
  background-color: #e61a23;
  border-radius: 15px;
  margin-top: 12px;
  text-align: center;
  color: white;
  line-height: 50px;
}

.sucdown {
  height: 50px;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  color: black;
  text-align: center;
}

.fondoCotizaciones {
  /*background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../../../assets/images/fondo-forms.png"); */
  background-color: transparent;
  background-repeat: no-repeat;
  display: relative;
  width: 100%;
  height: 100% !important;
  text-align: center;
  padding-top: 20px;
  z-index: -1;
}

.ringcotizacion {
  border-radius: 50%;
  border: 2px solid #e61a23;
  box-shadow: 0 0 1 5px #E2DFDF;
  -webkit-box-shadow: 0px 0px 1px 5px #E2DFDF;
}

.rings2 {
  border-radius: 50%;
  border: 2px solid #A9A6A6;
  box-shadow: 0 0 1 5px #E2DFDF;
  -webkit-box-shadow: 0px 0px 1px 5px #E2DFDF;
  width: 60%;
}

.letrita-rojita {
  color: #e61a23;
  text-align: start;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  font-weight: bolder;
  font-size: 20px;
  margin-top: 50px;
  margin-left: 12%;
}

.enviar-paquete {
  margin-left: 10%;
}

.letrita1 {
  font-size: 17px;
  margin-left: 12.3%;
  text-align: start;
  font-weight: bolder;
}

.x2 {
  margin-right: 20px;
}


/* formulario de checks */


/* Hide the browser's default radio button */
/*
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
*/
.modal-open {
  overflow-y: scroll;
 
}


/* Create a custom radio button */

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: white;
  box-shadow: 5px 5px 5px 2px slategray;
  border-radius: 50%;
}


/* On mouse-over, add a grey background color */

.container:hover input~.checkmark {
  background-color: #ccc;
}


/* When the radio button is checked, add a blue background */

.container input:checked~.checkmark {
  background-color: #e61a23;
  content: "\f2b4";
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


/* Show the indicator (dot/circle) when checked */

.container input:checked~.checkmark:after {
  display: block;
}


/* Style the indicator (dot/circle) */

.container .checkmark:after {
  left: 8px;
  width: 5px;
  top: 2px;
  height: 11px;
  font-family: FontAwesome;
  content: "\f00c";
  color: white;
}


th,
td {
  border: #F4F3F3 inherit;
}

.tablita {
  border-radius: 10px;
  width: 100%;
  
  padding-left: 5%;
  box-shadow: 2px 2px 2px 2px#878585;
  padding-right: 5%;
}

h6 {
  color: #e61a23;
  top: 5px;
  position: relative;
}

.camarita {
  color: #e61a23;
}

.btn-agregar {
  background-color: #e61a23;
  margin-left: -1%;
}

.btn-solicitud {
  background-color: #e61a23;
  border: none;
}

.letra-form {
  color: black;
  font-weight: bolder;
  text-align: left;
}

.row {
  margin-bottom: 10px;
}
.dd{
  background-color: black;
}

.btn-selec-img {
  background-color: white;
  color: black;
  border: none;
  box-shadow: 2px 2px 2px 2px #969696;
}

.letra-cargar {
  color: #e61a23;
  margin-left: 6%;
  font-weight: bolder;
}

.letra-cabe {
  color: #e61a23;
  font-weight: bolder;
}

.div-pregunta {
  height: 50px;
  margin-bottom: 15px;
}

.rojo{
  height: 5%;
  background-color: #e61a23;
  border-radius: 15px;
  text-align: center;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;    
  color:white ;  
  margin-bottom: 40px;
} 
.button-cv-directo{
  background-color:#e61a23;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 50px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px#878585;
}
.title-modal-corpo{
  background-color:#e61a23;
  color: white;

}
.btn-envio-directo-cv{
  color:white;
  background-color: #e61a23;
  border: none;
  font-family: 'Montserrat', sans-serif;    

  text-align: start;
  display: flex;
  cursor: pointer;
  outline: none !important;

  outline-style: none !important;
  
}

:host >>> .tooltip-inner {
  background: black!important;
}

/*
asdsad
*/

@media only screen and (max-width: 600px) {
  
  .fila-servicio {
      margin-left: -8%;
  }
  .img-cotizacion-tablita{
      height: 25px;
  }
  .tablita {
      margin-left: -0.5%;
      margin-right: -0.5%;
  }
  .letra-cabe {
      font-size: 15px;
  }
  .letra-ana {
      font-size: 10px;
  }
  .rojo {
      font-size: 10px;
  }
  .btn-agregar {
      margin-left: 0%;
  }
  .rings2 {
      width: 80px;
  }
  
}

.pf-subtitulos{
  font-weight: bold;
}
.condiciones{
  margin-top: 40px;
  justify-content: center;
}