<main class="about-us">
  <div class="ctn-a-u">
    <div class="front-page">
      <div class="box-relative">
        <div class="ctn-img">
          <img src="assets/newimg/portada.jpg" alt="">
          <div class="background"></div>
        </div>
        <h2>Más de 30 años formando parte del Perú</h2>
      </div>
      <div style="height: 150px; overflow: hidden" class="ctn-curved-au">
        <svg
          viewBox="0 0 500 150"
          preserveAspectRatio="none"
          style="height: 100%; width: 100%"
        >
          <path
            d="M0.28,8.41 C307.28,150.50 211.90,145.56 500.27,10.38 L500.00,150.00 L0.00,150.00 Z"
            style="stroke: none; fill: rgb(255, 255, 255)"
          ></path>
        </svg>
      </div>
    </div>
    <section class="our-history">
      <div class="ctn-oh">
        <h3>Conoce nuestra historia</h3>
        <div class="timeline">
          <div
            *ngFor="let item of timelineItems; let i = index"
            class="timeline-item"
            [class]="getClass(i)"
          >
            <div class="box-horizontal-tl">
              <div class="tl-circle-black"></div>
              <div class="tl-line-black"></div>
            </div>
            <div class="info-timeline">
              <div class="timeline-item-top">
                <i class="{{ item.icon }}"></i>
                <span>{{ item.date }}</span>
              </div>
              <p>{{ item.description }}</p>
              <i class="{{ item.arrow }}"></i>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="mision-vision">
      <ul>
        <li *ngFor="let item2 of infoAboutUsItems; let i = index"
        class="group-cards-mv"
        [class]="getClassAboutUs(i)">
          <img src="{{ item2.image }}" alt="" />
          <p>{{ item2.description }}</p>
        </li>
      </ul>
    </section>
  </div>
</main>