

.contenedorSomos2 {
    /*background-image: url("../../../assets/images/camion-sin-modificar.png"); */
    background-color: #FCF7F7;
    /*background: linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .6)), url("../../../assets/images/camion-sin-modificar.png") no-repeat; */
    padding-top: 1%;

}
.letra-nuestra-historia {
    color: #e61a23;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
}
.letrita2 {
    color: #e61a23;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    position: relative;
    font-weight: bolder;
    font-size: 30px;
}
.letrita3 {
    color: #e61a23;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    position: relative;
    
    
    font-weight: bolder;
    font-size: 30px;
}
.x1{
  text-align: center;
}
.contiene-cada-dia1 {
    margin-top: -20px;
    padding-right: 5%;
    padding-left: 5%;
}

.contiene-cada-dia2 {
    margin-right: -400px;
    margin-top: -50px;
}

.flecha {
    background-image: url("../../../assets/images/imagenFlecha.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    text-align: center;
    margin-top: 10px;
    padding-top: 7px;
    font-size: 15px;
    height: 55px;
    width: 62%;
}
.flecha1 {
    background-image: url("../../../assets/images/imagenFlecha.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    text-align: center;
    margin-top: 10px;
    padding-top: 12px;

    font-size: 18px;
    height: 55px;
    width: 62%;
}
.guiones {
    font-weight: 900 !important;
    color: #e61a23;
    margin-top: 15px;
    font-size: 18px;
    letter-spacing: 5px;
}

.texto-historia {
    background-color: white;
    border-color: #e61a23 !important;
    border-width: 5px !important;
    font-size: 15px;
}

.texto-historia1 {
    background-color: white;
    border-color: #e61a23 !important;
    border-width: 5px !important;
    font-size: 15px;
    height: 120px;
}

.texto-historia2 {
    background-color: white;
    border-color: #e61a23 !important;
    border-width: 5px !important;
    font-size: 15px;
    height: 120px;
}

.texto-historia3 {
    background: rgba(255, 255, 255, .4);
    border-color: #e61a23 !important;
    border-width: 10px !important;
    padding-right: 10px;
    margin-top: 5%;
    font-size: 15px;
    text-align: justify;
    
}

.borde-img {
    border: 4px solid #e61a23;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.visionpc{
    display: none;
}
@media only screen and (max-width: 1000px) {
    .texto-historia {
        font-size: 14px;
        line-height: 15px;
        margin-top: 10px;
        text-align: justify;
        position: relative;
        height: 60%;
    }.visionpc{
        display: inherit;
    }
    
    .texto-historia1,
    .texto-historia2 {
        font-size: 14px;
        line-height: 15px;
        margin-top: 10px;
        text-align: justify;
        position: relative;
        height: 70%;
    }
   
    .texto-historia3{
       border: none;
    }
    .contenedorSomos1{
        padding-left: 10px;
    }
    .visioncel{
        display: none;
    }
}