<main class="about-us">
    <div class="portadaAll ">

        <img class="img" src="assets/images/portadaconocenosnuevo.png" height="100%" width="100%">
    
    
    </div>
    <div class="title-peque text-center">
        CONÓCENOS
    </div>
    <div class="container">
    <div class="animated fadeIn fast">
    
        <br>
    
        <!---   Nuestra historia-->
        <div class="contenedorSomos1">
            <div class="contiene1">
                <div class="letra-nuestra-historia">NUESTRA HISTORIA:</div>
                <br>
                <br>
                <div class="row">
                    <div class="row col-lg-12">
                        <div class="col-lg-1"></div>
    
                        <div class="row col-lg-3 col-12">
                            <div><img src="assets/images/icono1.png"></div>
                            <div class="flecha">01 de Mayo
                                <div> 1989</div>
                            </div>
                            <div class="texto-historia border-left col-12">Iniciamos como una empresa familiar, con dos vehiculos que nos permitieron conectar las principales ciudades del Sur como: Arequipa, Juliaca, Puno, Cusco</div>
                        </div>
    
                        <div class="guiones col-12 col-lg-1">----</div>
    
                        <div class="row col-lg-3 col-12">
                            <div><img src="assets/images/icono2.png"></div>
                            <div class="flecha1">2001
                            </div>
                            <div class="texto-historia1 border-left  col-12">Abrimos la primera sucursal de Lima. Iniciando la expansion soñada</div>
    
                        </div>
                        <div class="guiones col-12 col-lg-1">----</div>
    
                        <div class="row col-lg-3 col-12">
                            <div><img src="assets/images/icono3.png"></div>
                            <div class="flecha1">2021
                            </div>
                            <div class="texto-historia2 border-left  col-12">Con sacrificio y perseverancia hemos permanecido en el camino del éxito. para poder formar parte de su crecimiento empresarial.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <br><br><br><br>
       
        <!-- MISION -->
        <div class="contenedorSomos2 col-12">
           
            <div class="row">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="x1 col-lg-3"><img class="borde-img" src="assets/images/prueba.png" height="250px"></div>
                    <div class="col-lg-6">  
                        <div class="letrita2 col-1">MISIÓN</div>
                        <div class="col-lg-8 col-12 texto-historia3 border-left">“Somos la empresa con mayor cobertura a nivel nacional en el transporte de mercancías por vía terrestre, brindando un servicio de calidad ya que contamos con una sólida cultura organizacional, lo que nos permite promover el desarrollo integral de nuestro personal y mantener una estrecha relación con los clientes, para poder consolidarnos como la empresa líder a nivel nacional.”
                        </div>
                     </div>
                   
                    <div class="col-lg-3"></div>
                </div>
            </div>
    
            <br>
        </div>
        <div class="contenedorSomos2 visionpc col-12">
           
            <div class="row">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="x1 col-lg-3"><img class="borde-img" src="assets/images/circulo-img.png" height="250px"></div>
                    <div class="col-lg-6">  
                        <div class="letrita2 col-1">VISIÓN</div>
                        <div class="col-12 texto-historia3 border-left">Consolidarnos como la empresa lider en el transporte de mercancías por vía terrestre, expandiéndonos por nuevos mercados para ser la empresa más rápida, segura y con calidad de servicio a nivel nacional.
                        </div>
                     </div>
                   
                    <div class="col-lg-3"></div>
                </div>
            </div>
    
            <br>
        </div>
        <br><br><br><br>
        <!-- VISION -->
     
        <div class="contenedorSomos2  visioncel col-12">
            <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-5">  
                        <div class="letrita3 col-lg-12 col-12">VISIÓN</div>
                        <div class="col-12 texto-historia3 border-right">Consolidarnos como la empresa lider en el transporte de mercancías por vía terrestre, expandiéndonos por nuevos mercados para ser la empresa más rápida, segura y con calidad de servicio a nivel nacional.
                        </div>
                    </div>
    
                    <div class=" col-lg-3"><img class="borde-img" src="assets/images/circulo-img.png" height="250px">
                    </div>
                    <div class="col-lg-4"></div>
    
            </div>
    
            <br>
        </div>
        <br>
        <!-- asdsa-->
    
    </div>
    </div>
</main>