<main class="online-solutions">
  <div class="container">
    <h2>SOLUCIONES EN LÍNEA</h2>
    <span
      >POR ESTE MEDIO NO SE HACEN CAMBIOS DE DATOS CONSIGNADOS EN GUÍA (cambio
      de destino, ni cambio de destinatario).</span
    >
    <form (ngSubmit)="onSubmitSolucionesenlinea()" #CurriculumForm="ngForm">
      <div class="ctn-form">
        <div class="box g-1">
          <div class="input-group">
            <input
              required=""
              type="text"
              name="nombresyape"
              #nombresyape="ngModel"
              [(ngModel)]="solucionModel.nombres_sol"
              autocomplete="off"
            />
            <label>Apellidos y nombres</label>
          </div>
          <div class="input-group">
            <input
              required=""
              type="email"
              name="email"
              #email="ngModel"
              [(ngModel)]="solucionModel.correo_sol"
              autocomplete="off"
            />
            <label>Correo electrónico</label>
          </div>
        </div>
        <div class="box g-2">
          <div class="input-group">
            <input
              required=""
              type="text"
              name="serie"
              #serie="ngModel"
              [(ngModel)]="solucionModel.serie_sol"
              autocomplete="off"
              minlength="4"
              maxlength="4"
              (keypress)="singleNumber($event)"
            />
            <label>Serie Guía</label>
          </div>
          <div class="input-group">
            <input
              required=""
              type="text"
              name="numero"
              #numero="ngModel"
              [(ngModel)]="solucionModel.numero_sol"
              autocomplete="off"
              minlength="7"
              maxlength="7"
              (keypress)="singleNumber($event)"
            />
            <label>Número Guía</label>
          </div>
        </div>
        <div class="box g-3">
          <div class="input-group">
            <input
              required=""
              type="text"
              name="origen"
              #origen="ngModel"
              [(ngModel)]="solucionModel.origen_sol"
              autocomplete="off"
            />
            <label>Origen</label>
          </div>
          <div class="input-group">
            <input
              required=""
              type="text"
              name="destino"
              #destino="ngModel"
              [(ngModel)]="solucionModel.destino_sol"
              autocomplete="off"
            />
            <label>Destino</label>
          </div>
        </div>
        <div class="box g-4">
          <div class="input-group">
            <input
              required=""
              type="text"
              name="telefono"
              #telefono="ngModel"
              [(ngModel)]="solucionModel.celular_sol"
              autocomplete="off"
              minlength="9"
              maxlength="9"
              (keypress)="singleNumber($event)"
            />
            <label>Celular</label>
          </div>
          <div class="input-group">
            <select
              required=""
              name="select"
              #select="ngModel"
              [(ngModel)]="solucionModel.inconveniente_sol"
            >
              <option value="" disabled="true">Seleccione el inconveniente</option>
              <option value="DEMORA EN LA ENTREGA">Demora en la entrega</option>
              <option value="MERCADERIA DAÑADA">Mercadería dañada</option>
              <option value="OTROS">Otros</option>
            </select>
          </div>
        </div>
        <div class="box">
          <div class="textarea-group">
            <textarea
              required=""
              name="detalle"
              #detalle="ngModel"
              [(ngModel)]="solucionModel.detalle_sol"
              rows="4"
            ></textarea>
            <label>Detalles</label>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label" for="file"
            >Adjuntar Archivo (Máximo 2 MB):</label
          >
          <angular-file-uploader
            [config]="afuConfig"
            (ApiResponse)="adjuntoUpload($event)"
          >
          </angular-file-uploader>
        </div>
        <button>Enviar</button>
      </div>
    </form>
  </div>
</main>
