<main clasS="frequent-questions">
  <div class="container">
    <div class="letratitupregufre">
        PREGUNTAS FRECUENTES
    </div>
    <div class="col">
      <div class="titulo">1. DATOS DE LA EMPRESA </div>
          <div class="cuerpo border-left">
            <div>
              <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span><b>Razón social:</b> Arequipa Expreso Marvisur E.I.R.L.</div>
              <div class="info-sucu" > <span class="fa fa-check-circle fa-1x "> </span><b>RUC:</b> 20498189637 </div>
              <div class="info-sucu" > <span class="fa fa-check-circle fa-1x"> </span><b>Domicilio fiscal:</b> Cal. Garci Carbajal Nro. 511 Urb. IV centenario, Arequipa - Arequipa - Arequipa</div>
            </div>
          </div>
    </div>  
    <br>
    <div class="col">
      <div class="titulo">2. CUÁL ES SU COBERTURA</div>
      <div class="cuerpo border-left">
          
          <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>
            Estamos ubicados en todos los departamentos del Perú, contando con 120 sucursales y más de 140 destinos, distribuidos estratégicamente a nivel nacional.
          </div>
      </div>
    </div> 
    <br> 
    <div class="col">
      <div class="titulo">3. ¿QUÉ SERVICIO OFRECEMOS?</div>
      <div class="cuerpo border-left">
          
          <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>
            Realizamos servicio de transporte de todo tipo de carga, mudanzas y servicio expreso de puerta a puerta.
          </div>
      </div>
    </div>  
    <br>
    <div class="col">
      <div class="titulo">4. ¿QUÉ DOCUMENTACIÓN NECESITO PARA REALIZAR UN ENVÍO?</div>
      <div class="cuerpo border-left">
        <div>Para enviar encomiendas, sobres y objetos usados se presenta: </div>
        <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>
          DNI en físico, Pasaporte o Carné de extranjería (más copia simple).</div>
        <div>Para enviar cosas nuevas se presenta:</div>
        <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>
          DNI en físico, Pasaporte o Carné de extranjería (más copia simple).</div>
        <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>
          Documentación de compra (boleta o factura), y/o la guía de remisión que sustenten el traslado de su mercadería.</div>
        <div>Para realizar mudanzas se presenta: </div>
        <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>
          DNI en físico o Pasaporte o Carné de extranjería (más copia simple).</div>
        <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>
          Presentar una declaración jurada detallada de los bienes que está enviando
        </div>
        <div>Para enviar materiales peligrosos y motores, motos, cajas de cambio y repuestos se presenta:
        </div>
        <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>
          DNI en físico o Pasaporte o Carné de extranjería (más copia simple).
        </div>
        <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>
          Guía de Remisión remitente.
        </div>
        <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>
          Factura.
        </div>
        <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>
          Hoja de seguridad de materiales a enviar.
        </div>
        <div>Para enviar flora se presenta: </div>
        <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>
          DNI en físico o Pasaporte o Carné de extranjería (más copia simple).
        </div>
        <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>
          Guía de Remisión de transporte forestal original.
        </div>
        <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>
          Permiso de aprovechamiento forestal en bosques secos, bajo modalidad de declaración de manejo.
        </div>

        <div><b>Observación:</b> Todos los documentos deben ser originales</div>
      </div>
    </div>  
    <br>
    <div class="col">
      <div class="titulo">5. ¿CON QUÉ MODALIDADES DE PAGO CUENTO?</div>
      <div class="cuerpo border-left">
          <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>
            Al contado: Se cancela el monto en su totalidad.</div>            
          <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>
            Pago en destino: La cancelación se realiza cuando recibe su mercadería.</div>
          <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>
            Pago por transferencia: La cancelación se tiene que confirmar en agencia Marvisur.</div>
        </div>
    </div>  
    <br>
    <div class="col">
      <div class="titulo">6. ¿REALIZAN EL SERVICIO DE RETORNO DE CARGO?</div>
      <div class="cuerpo border-left">
        <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>
          Sí, AREQUIPA EXPRESO MARVISUR garantiza el retorno al cliente de cargos adjuntos o guías de remisión debidamente sellados y firmados, con un costo adicional.</div>
      </div>
        
    </div>
    <br>
    <div class="col">
      <div class="titulo">7. ¿QUÉ DOCUMENTOS NECESITO PARA RECOGER MI MERCADERÍA?

      </div>
      <div class="cuerpo border-left">
          <div>Los documentos necesarios para recoger varían en caso recoja una persona natural o jurídica:</div>
          <div class="info-sucu  "> <div class="pf-subtitulos">Persona Natural:</div></div>
            
          <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>
            Deberá presentar su DNI original o Pasaporte o Carné de extranjería (con copia simple)
          </div>
          <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>
            Número de Guía de remisión transportista
          </div>
          <div class="info-sucu  "> <div class="pf-subtitulos">Persona Jurídica:</div></div>
          <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>
            Deberá presentar su DNI original o Pasaporte o Carné de extranjería (más copia simple)
          </div>
          <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>
            Número de Guía de remisión transportista
          </div>

          <div> <b>Observación 1:</b> En caso la guía no tenga atención a una persona Natural, se entregará únicamente al representante legal.</div>
          <div> <b>Observación General: </b> En caso la encomienda sea recogida por un tercero se debe presentar carta poder membretada y legalizada (Incluyendo el nro. de Guía, firma, huella digital y copia del DNI del destinatario).</div>

      </div>
    </div> 
    <br>
    <div class="col">
      <div class="titulo">8. ¿CÓMO HACER UN CAMBIO DE DESTINO Y CONSIGNADO?
      </div>
      <div class="cuerpo border-left">
          <div>Se puede realizar el cambio, pero solamente puede solicitarlo el remitente en una agencia de forma presencial. Se exponen dos casos:</div>
          <div><b>CASO 1:&nbsp;</b> El envío es realizado por una <b>PERSONA NATURAL,</b> para ello se necesita:</div>
          <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>Guía de remisión transportista MARVISUR (original en físico).
          </div>
          <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>Documento que identifica, puede ser:  DNI físico o Pasaporte o Carné de extranjería (más copia simple del documento de identidad)
          </div>
          <div><b>CASO 2:&nbsp;</b> El envío es realizado por una <b>EMPRESA,</b> los requerimientos varían según sea quien solicite el cambio:</div>
          
          <div><b>Representante Legal:</b></div>
          <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>DNI Original o Pasaporte o Carné de extranjería (más copia simple)
          </div>
          <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>Número de guía de remisión transportista
          </div>
          <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>Guía de remisión transportista declarada (como remitente o Control Administrativo)
          </div>
          <div><b>No es representante legal:</b></div>
          <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>DNI Original o Pasaporte o Carné de extranjería de la persona que tramita (más copia simple)
          </div>
          <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>Guía de remisión transportista (original en físico)
          </div>
          <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>Guía de remisión remitente (como remitente o Control Administrativo)
          </div>
          <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>Copia de DNI del Representante legal
          </div>
          <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>Carta de Autorización membretada y legalizada (firma y huella del representante legal). Indicando quién va a recoger y nro. de guía de Marvisur.
          </div>
      </div>
    </div>   
    <br>
    <!-- parte-->
    <div class="col">
      <div class="titulo">9. ¿PUEDO ENVIAR CUALQUIER TIPO DE MERCADERÍA?
      </div>
      <div class="cuerpo border-left">
          <div>AREQUIPA EXPRESO MARVISUR transporta todo tipo de mercadería, excepto los siguientes:

          </div>
          <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>Alimentos perecibles.
          </div>
          <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>Toda clase de armas, municiones, explosivos o cualquier material inflamable, corrosivo, tóxico o peligroso, así como sustancias, materiales.
          </div>
          <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>Insumos químicos y productos fiscalizados, útiles para elaborar drogas ilícitas. 
          </div>
          <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>Especies vivas cuya comercialización, tenencia o transporte se encuentre prohibida o restringida.
          </div>
          <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>Bienes culturales, muebles, obras contemporáneas de patrimonio cultural.
          </div>
          
      </div>
    </div>   
    <br>
    <div class="col">
      <div class="titulo">10.	¿CÓMO DECLARO MI MERCADERÍA VALIOSA?

      </div>
      <div class="cuerpo border-left">
          <div>Se denomina mercadería valiosa cuando su precio supera 10 veces el flete de envío, es importante tener en cuenta que en caso de robo o daño de mercadería sólo se reconocerá lo declarado. Para declarar la mercadería se necesita adjuntar un documento original que sustente su compra o venta.</div>
      </div>
    </div>
    <br>
    <div class="col">
      <div class="titulo">11. ¿ES POSIBLE ENVIAR OBJETOS FRÁGILES?

      </div>
      <div class="cuerpo border-left">
          <div>Sí, pero éstos deben estar correctamente embalados y rotulados con la descripción <b>FRÁGIL.</b> La empresa no realiza embalaje.
          </div>
      </div>
    </div>
    <br>
    <div class="col">
      <div class="titulo">12. ¿COMO HAGO PARA REALIZAR MIS ENVÍOS EN LA CIUDAD DE LIMA?

      </div>
      <div class="cuerpo border-left">
          <div>En la ciudad de Lima contamos con dos tipos de agencia para envíos:
          </div>
          <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>Agencias centralizadas, que se encuentran el distrito de La Victoria, con salidas directas a puntos específicos. 
          </div>
          <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>Agencias descentralizadas, que se encuentran en diferentes distritos de Lima (Puntos de acopio).
          </div>
      </div>
    </div>
    <br>
    <div class="col">
      <div class="titulo">13. ¿CÓMO ME PONGO EN CONTACTO CON MARVISUR?
      </div>
      <div class="cuerpo border-left">
          <div>Marvisur cuenta con distintos tipos de canales de comunicación como:
          </div>
          <div>Nuestras redes sociales. </div>
          <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>Facebook: <a href="https://www.facebook.com/MARVISUROFICIAL">https://www.facebook.com/MARVISUROFICIAL</a>
          </div>
          <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>Instagram: <a href="https://www.instagram.com/expreso_marvisur/">https://www.instagram.com/expreso_marvisur/</a>
          </div>
          <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span>Linkedin: <a href="https://cutt.ly/UQBzpXW">https://cutt.ly/UQBzpXW </a>
          </div>
          <div>Nuestros números oficial de Call Center.  
          </div>
          <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span> 054-206733
          </div>
          <div>Nuestros números de Whatsapp  
          </div>
          <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span> 959 177 150 (Cotizaciones)
          </div>
          <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span> 974 210 358 (Consultas)
          </div>
          <div>Recuerda que toda la información la puedes encontrar en nuestra página web.  </div>
      </div>
    </div>
    <br>
    <div class="col">
      <div class="titulo">14.	¿MIS ENVÍOS SE ENCUENTRAN ASEGURADOS?

      </div>
      <div class="cuerpo border-left">
          <div>Sí, todos tus envíos viajan acompañados de un seguro, el cual indemniza el valor del producto en caso de pérdida o robo (sujeto a previa evaluación).
            Por eso es importante que declares tus envíos con un documento de sustento (factura, boleta, etc.), de no ser declarado tu envió, solo reconocemos hasta 10 veces el flete, (sujeto a previa evaluación).                
          </div>
      </div>
    </div>
    <br>
    <div class="col">
      <div class="titulo">15. ¿CUÁNTO TIEMPO PUEDE PERMANECER UNA MERCADERÍA EN EL ALMACÉN DE LA AGENCIA?

      </div>
      <div class="cuerpo border-left">
          <div>El cliente tiene un plazo máximo de 7 días calendario para recoger su mercadería, pasado ese tiempo la empresa procede a cobrar un valor del 10% del flete por mes de almacenamiento.
            Términos y condiciones señalados en los puntos 12; 13; 14 y 15.                                
          </div>
      </div>
    </div>
    <br>
    <div class="col">
          <div class="titulo">16. SOMOS UNA EMPRESA QUE REALIZA MUCHOS ENVÍOS A LA VEZ

          </div>
          <div class="cuerpo border-left">
              <div>Marvisur cuenta con una agencia en la ciudad de Lima donde puede realizar envíos simultáneos para distintos destinos desde una misma agencia, visítanos en la siguiente dirección:                                
              </div>
              <div class="info-sucu"><span class="fa fa-check-circle fa-1x"></span> JR. SEBASTIAN LORENTE NRO. 453-495- BARRIOS ALTOS LIMA LIMA

          </div>
        </div>
        <br>
    </div>
  </div>
</main>