<main clasS="frequent-questions">
  <div class="container">
    <h2>PREGUNTAS FRECUENTES</h2>
    <div class="body">
      <ul>
        <li>
          <div class="subtitle">
            <div class="item">1</div>
            <h3>DATOS DE LA EMPRESA</h3>
          </div>
          <div class="info">
            <ul>
              <li>
                <b>Razón social:</b>
                <span>Arequipa Expreso Marvisur E.I.R.L.</span>
              </li>
              <li>
                <b>RUC:</b>
                <span>20498189637</span>
              </li>
              <li>
                <b>Domicilio fiscal:</b>
                <span>Cal. Garci Carbajal Nro. 511 Urb. IV centenario, Arequipa - Arequipa - Arequipa</span>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="subtitle">
            <div class="item">2</div>
            <h3>CUÁL ES SU COBERTURA</h3>
          </div>
          <div class="info">
            <p>
              Estamos ubicados en todos los departamentos del Perú, contando con 120 sucursales y más de 140 destinos, distribuidos estratégicamente a nivel nacional.
            </p>
          </div>
        </li>
        <li>
          <div class="subtitle">
            <div class="item">3</div>
            <h3>¿QUÉ SERVICIO OFRECEMOS?</h3>
          </div>
          <div class="info">
            <p>
              Realizamos servicio de transporte de todo tipo de carga, mudanzas y servicio expreso de puerta a puerta.
            </p>
          </div>
        </li>
        <li>
          <div class="subtitle">
            <div class="item">4</div>
            <h3>¿QUÉ DOCUMENTACIÓN NECESITO PARA REALIZAR UN ENVÍO?</h3>
          </div>
          <div class="info">
            <ul>
              <li>
                <span>Para enviar encomiendas, sobres y objetos usados se presenta:</span>
                <p>
                  <i class="fa-solid fa-check"></i>
                  DNI en físico, Pasaporte o Carné de extranjería (más copia simple).
                </p>
              </li>
              <li>
                <span>Para enviar cosas nuevas se presenta:</span>
                <p>
                  <i class="fa-solid fa-check"></i>
                  DNI en físico, Pasaporte o Carné de extranjería (más copia simple).
                </p>
                <p>
                  <i class="fa-solid fa-check"></i>
                  Documentación de compra (boleta o factura), y/o la guía de remisión que sustenten el traslado de su mercadería.
                </p>
              </li>
              <li>
                <span>Para realizar mudanzas se presenta:</span>
              </li>
              <li>
                <p>
                  <i class="fa-solid fa-check"></i>
                  DNI en físico o Pasaporte o Carné de extranjería (más copia simple).
                </p>
                <p>
                  <i class="fa-solid fa-check"></i>
                  Presentar una declaración jurada detallada de los bienes que está enviando.
                </p>
              </li>
              <li>
                <span>Para enviar materiales peligrosos y motores, motos, cajas de cambio y repuestos se presenta:</span>
                <p>
                  <i class="fa-solid fa-check"></i>
                  DNI en físico o Pasaporte o Carné de extranjería (más copia simple).
                </p>
                <p>
                  <i class="fa-solid fa-check"></i>
                  Guía de Remisión remitente.
                </p>
                <p>
                  <i class="fa-solid fa-check"></i>
                  Factura.
                </p>
                <p>
                  <i class="fa-solid fa-check"></i>
                  Hoja de seguridad de materiales a enviar.
                </p>
              </li>
              <li>
                <span>Para enviar flora se presenta:</span>
                <p>
                  <i class="fa-solid fa-check"></i>
                  DNI en físico o Pasaporte o Carné de extranjería (más copia simple).
                </p>
                <p>
                  <i class="fa-solid fa-check"></i>
                  Guía de Remisión de transporte forestal original.
                </p>
                <p>
                  <i class="fa-solid fa-check"></i>
                  Permiso de aprovechamiento forestal en bosques secos, bajo modalidad de declaración de manejo.
                </p>
              </li>
              <li>
                <b>Observación:</b>
                <span>Todos los documentos deben ser originales</span>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="subtitle">
            <div class="item">5</div>
            <h3>¿CON QUÉ MODALIDADES DE PAGO CUENTO?</h3>
          </div>
          <div class="info">
            <ul>
              <li>
                <b>Al contado</b>
                <span>Se cancela el monto en su totalidad.</span>
              </li>
              <li>
                <b>Pago en destino</b>
                <span>La cancelación se realiza cuando recibe su mercadería.</span>
              </li>
              <li>
                <b>Pago por transferencia</b>
                <span>La cancelación se tiene que confirmar en agencia Marvisur.</span>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="subtitle">
            <div class="item">6</div>
            <h3>¿REALIZAN EL SERVICIO DE RETORNO DE CARGO?</h3>
          </div>
          <div class="info">
            <p>
              Sí, AREQUIPA EXPRESO MARVISUR garantiza el retorno al cliente de cargos adjuntos o guías de remisión debidamente sellados y firmados, con un costo adicional.
            </p>
          </div>
        </li>
        <li>
          <div class="subtitle">
            <div class="item">7</div>
            <h3>¿QUÉ DOCUMENTOS NECESITO PARA RECOGER MI MERCADERÍA?</h3>
          </div>
          <div class="info">
            <span>Los documentos necesarios para recoger varían en caso recoja una persona natural o jurídica:</span>
            <ul>
              <li>
                <b>Persona Natural / Persona Jurídica:</b>
                <p>
                  <i class="fa-solid fa-check"></i>
                  Deberá presentar su DNI original o Pasaporte o Carné de extranjería (con copia simple)
                </p>
                <p>
                  <i class="fa-solid fa-check"></i>
                  Número de Guía de remisión transportista
                </p>
              </li>
              <li>
                <b>Observación 1:</b>
                <span>En caso la guía no tenga atención a una persona Natural, se entregará únicamente al representante legal.</span>
              </li>
              <li>
                <b>Observación General:</b>
                <span>En caso la encomienda sea recogida por un tercero se debe presentar carta poder membretada y legalizada (Incluyendo el nro. de Guía, firma, huella digital y copia del DNI del destinatario).</span>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="subtitle">
            <div class="item">8</div>
            <h3>¿CÓMO HACER UN CAMBIO DE DESTINO Y CONSIGNADO?</h3>
          </div>
          <div class="info">
            <h4>Se puede realizar el cambio, pero solamente puede solicitarlo el remitente en una agencia de forma presencial. Se exponen dos casos:</h4>
            <ul>
              <li>
                <h5>
                  <b>CASO 1:&nbsp;</b> El envío es realizado por una <b>PERSONA NATURAL,</b> para ello se necesita:
                </h5>
                <p>
                  <i class="fa-solid fa-check"></i>
                  Guía de remisión transportista MARVISUR (original en físico).
                </p>
                <p>
                  <i class="fa-solid fa-check"></i>
                  Documento que identifica, puede ser:  DNI físico o Pasaporte o Carné de extranjería (más copia simple del documento de identidad)
                </p>
              </li>
              <li>
                <h5>
                  <b>CASO 2:&nbsp;</b> El envío es realizado por una <b>EMPRESA,</b> los requerimientos varían según sea quien solicite el cambio:
                </h5>
                <ul>
                  <li>
                    <h6>Representante Legal:</h6>
                    <p>
                      <i class="fa-solid fa-check"></i>
                      DNI Original o Pasaporte o Carné de extranjería (más copia simple)
                    </p>
                    <p>
                      <i class="fa-solid fa-check"></i>
                      Número de guía de remisión transportista
                    </p>
                    <p>
                      <i class="fa-solid fa-check"></i>
                      Guía de remisión transportista declarada (como remitente o Control Administrativo)
                    </p>
                  </li>
                  <li>
                    <h6>No es representante legal:</h6>
                    <p>
                      <i class="fa-solid fa-check"></i>
                      DNI Original o Pasaporte o Carné de extranjería de la persona que tramita (más copia simple)
                    </p>
                    <p>
                      <i class="fa-solid fa-check"></i>
                      Guía de remisión transportista (original en físico)
                    </p>
                    <p>
                      <i class="fa-solid fa-check"></i>
                      Guía de remisión remitente (como remitente o Control Administrativo)
                    </p>
                    <p>
                      <i class="fa-solid fa-check"></i>
                      Copia de DNI del Representante legal
                    </p>
                    <p>
                      <i class="fa-solid fa-check"></i>
                      Carta de Autorización membretada y legalizada (firma y huella del representante legal). Indicando quién va a recoger y nro. de guía de Marvisur.
                    </p>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="subtitle">
            <div class="item">9</div>
            <h3>¿PUEDO ENVIAR CUALQUIER TIPO DE MERCADERÍA?</h3>
          </div>
          <div class="info">
            <span>AREQUIPA EXPRESO MARVISUR transporta todo tipo de mercadería, excepto los siguientes:</span>
            <ul>
              <li>
                <p>
                  <i class="fa-solid fa-check"></i>
                  Alimentos perecibles.
                </p>
              </li>
              <li>
                <p>
                  <i class="fa-solid fa-check"></i>
                  Toda clase de armas, municiones, explosivos o cualquier material inflamable, corrosivo, tóxico o peligroso, así como sustancias, materiales.
                </p>
              </li>
              <li>
                <p>
                  <i class="fa-solid fa-check"></i>
                  Insumos químicos y productos fiscalizados, útiles para elaborar drogas ilícitas.
                </p>
              </li>
              <li>
                <p>
                  <i class="fa-solid fa-check"></i>
                  Especies vivas cuya comercialización, tenencia o transporte se encuentre prohibida o restringida.
                </p>
              </li>
              <li>
                <p>
                  <i class="fa-solid fa-check"></i>
                  Bienes culturales, muebles, obras contemporáneas de patrimonio cultural.
                </p>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="subtitle">
            <div class="item">10</div>
            <h3>¿CÓMO DECLARO MI MERCADERÍA VALIOSA?</h3>
          </div>
          <div class="info">
            <p>
              Se denomina mercadería valiosa cuando su precio supera 10 veces el flete de envío, es importante tener en cuenta que en caso de robo o daño de mercadería sólo se reconocerá lo declarado. Para declarar la mercadería se necesita adjuntar un documento original que sustente su compra o venta.
            </p>
          </div>
        </li>
        <li>
          <div class="subtitle">
            <div class="item">11</div>
            <h3>¿ES POSIBLE ENVIAR OBJETOS FRÁGILES?</h3>
          </div>
          <div class="info">
            <p>
              Sí, pero éstos deben estar correctamente embalados y rotulados con la descripción <b>FRÁGIL.</b> La empresa no realiza embalaje.
            </p>
          </div>
        </li>
        <li>
          <div class="subtitle">
            <div class="item">12</div>
            <h3>¿COMO HAGO PARA REALIZAR MIS ENVÍOS EN LA CIUDAD DE LIMA?</h3>
          </div>
          <div class="info">
            <span>En la ciudad de Lima contamos con dos tipos de agencia para envíos:</span>
            <p>
              <i class="fa-solid fa-check"></i>
              Agencias centralizadas, que se encuentran el distrito de La Victoria, con salidas directas a puntos específicos.
            </p>
            <p>
              <i class="fa-solid fa-check"></i>
              Agencias descentralizadas, que se encuentran en diferentes distritos de Lima (Puntos de acopio).
            </p>
          </div>
        </li>
        <li>
          <div class="subtitle">
            <div class="item">13</div>
            <h3>¿CÓMO ME PONGO EN CONTACTO CON MARVISUR?</h3>
          </div>
          <div class="info">
            <span>Marvisur cuenta con distintos tipos de canales de comunicación como:</span>
            <ul>
              <li>
                <b>Nuestras redes sociales.</b>
                <p>
                  <i class="fa-solid fa-check"></i>
                  <a href="https://www.facebook.com/MARVISUROFICIAL">Facebook</a>
                </p>
                <p>
                  <i class="fa-solid fa-check"></i>
                  <a href="https://www.instagram.com/expreso_marvisur/">Instagram</a>
                </p>
                <p>
                  <i class="fa-solid fa-check"></i>
                  <a href="https://cutt.ly/UQBzpXW">Linkedin</a>
                </p>
              </li>
              <li>
                <b>Nuestros números oficial de Call Center.</b>
                <p>
                  <i class="fa-solid fa-check"></i>
                  054-206733</p>
              </li>
              <li>
                <b>Nuestros números de Whatsapp</b>
                <p>
                  <i class="fa-solid fa-check"></i>
                  959 177 150 (Cotizaciones)</p>
                <p>
                  <i class="fa-solid fa-check"></i>
                  974 210 358 (Consultas)</p>
              </li>
              <li>
                <p>Recuerda que toda la información la puedes encontrar en nuestra página web.</p>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="subtitle">
            <div class="item">14</div>
            <h3>¿MIS ENVÍOS SE ENCUENTRAN ASEGURADOS?</h3>
          </div>
          <div class="info">
            <p>
              Sí, todos tus envíos viajan acompañados de un seguro, el cual indemniza el valor del producto en caso de pérdida o robo (sujeto a previa evaluación).
              Por eso es importante que declares tus envíos con un documento de sustento (factura, boleta, etc.), de no ser declarado tu envió, solo reconocemos hasta 10 veces el flete, (sujeto a previa evaluación).
            </p>
          </div>
        </li>
        <li>
          <div class="subtitle">
            <div class="item">15</div>
            <h3>¿CUÁNTO TIEMPO PUEDE PERMANECER UNA MERCADERÍA EN EL ALMACÉN DE LA AGENCIA?</h3>
          </div>
          <div class="info">
            <p>
              El cliente tiene un plazo máximo de 7 días calendario para recoger su mercadería, pasado ese tiempo la empresa procede a cobrar un valor del 10% del flete por mes de almacenamiento. Términos y condiciones señalados en los puntos 12; 13; 14 y 15.
            </p>
          </div>
        </li>
        <li>
          <div class="subtitle">
            <div class="item">16</div>
            <h3>SOMOS UNA EMPRESA QUE REALIZA MUCHOS ENVÍOS A LA VEZ</h3>
          </div>
          <div class="info">
            <p>Marvisur cuenta con una agencia en la ciudad de Lima donde puede realizar envíos simultáneos para distintos destinos desde una misma agencia, visítanos en la siguiente dirección:</p>
            <span>JR. SEBASTIAN LORENTE NRO. 453-495- BARRIOS ALTOS LIMA LIMA</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</main>