<div class="all-modal-nfy">
  <article class="modal-info-nfy">
    <div class="ctn-modal-nfy">
      <div class="modal-nfy">
        <article class="announcement">
          <div class="content-announ">
            <form #CurriculumForm="ngForm">
              <ul>
                <li>
                  <input
                    required=""
                    type="text"
                    name="nombresyape"
                    #nombresyape="ngModel"
                    autocomplete="off"
                    class="input"
                    [(ngModel)]="cvModel.nombresyape"
                  >
                  <label class="user-label">Apellidos y Nombres</label>
                </li>
                <li>
                  <input
                    required=""
                    type="text"
                    name="email"
                    #email="ngModel"
                    autocomplete="off"
                    class="input"
                    [(ngModel)]="cvModel.email"
                  >
                  <label class="user-label">Correo Electrónico</label>
                </li>
                <li>
                  <ul class="sub-group">
                    <li>
                      <input
                        required=""
                        type="text"
                        name="edad"
                        #edad="ngModel"
                        autocomplete="off"
                        class="input"
                        [(ngModel)]="cvModel.edad"
                        (keypress)="singleNumber($event)"
                        maxlength="2"
                      >
                      <label class="user-label">Edad</label>
                    </li>
                    <li>
                      <input
                        required=""
                        type="text"
                        name="telefono"
                        #telefono="ngModel"
                        autocomplete="off"
                        class="input"
                        [(ngModel)]="cvModel.telefono"
                        (keypress)="singleNumber($event)"
                        maxlength="9"
                      >
                      <label class="user-label">Celular</label>
                    </li>
                  </ul>
                </li>
                <li>
                  <input
                    required=""
                    type="text"
                    name="direccion"
                    #direccion="ngModel"
                    autocomplete="off"
                    class="input"
                    [(ngModel)]="cvModel.direccion"
                  >
                  <label class="user-label">Dirección Actual</label>
                </li>
                <li>
                  <input
                    required=""
                    type="text"
                    name="expectativa"
                    #expectativa="ngModel"
                    autocomplete="off"
                    class="input"
                    [(ngModel)]="cvModel.expectativaSalarial"
                    (keypress)="singleNumber($event)"
                  >
                  <label class="user-label">Expectativa Salarial</label>
                </li>
  
                <div class="form-group">
                  <label class="form-label" for="file"
                    >Cargar CV: <b>Máximo 2 MB </b></label
                  >
                  <angular-file-uploader
                    [config]="afuConfig"
                    (ApiResponse)="CvUpload($event)"
                  >
                  </angular-file-uploader>
                </div>
              </ul>
              <!-- <button type="button" class="btn btn-default" (click)="newCurriculum(); CurriculumForm.reset()">New Curriculum</button>-->
            </form>
            <div class="modal-footer">
              <button (click)="cargarCV()" class="send-cv">
                <div class="svg-wrapper-1">
                  <div class="svg-wrapper">
                    <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z" fill="currentColor"></path>
                    </svg>
                  </div>
                </div>
                <span>Enviar</span>
              </button>
            </div>
          </div>
        </article>
      </div>
      <button class="mdl-close-nfy" (click)="closeModal()">
        <span class="text">Salir</span>
        <span class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path>
          </svg>
        </span>
      </button>
    </div>
  </article>
</div>

<div class="ctn-backdrop1"></div>