/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Images */
$url-img: "../../../assets/images/";
$url-img-news: "../../../assets/images/news/";
$url-img-slide: "../../../assets/slide/";
$url-au: '../../../assets/newimg/';

/* SVGs */
$url-svg: '../../../assets/svg/';

/* Texto */
@font-face {
  font-family: amertha;
  src: url('../fonts/amertha-personal-use-only.ttf');
}
@font-face {
  font-family: montserrat;
  src: url('../fonts/Montserrat-BlackItalic.otf');
}

/* Colors */
$blanco: hsl(0, 0%, 100%);
$negro: hsl(0, 0%, 0%);
$color-global-claro: hsl(1, 100%, 55%);
$anaranjado: hsl(39, 100%, 50%);
$gris: hsl(0, 0%, 80%);
$verde: hsl(128, 51%, 49%);
$azul: hsl(239, 100%, 50%);
$celeste: hsl(207, 90%, 54%);
$sombra-rojo-global: hsla(0, 54%, 59%, 0.314);
$color-global-claro-2: hsl(0, 100%, 71%);
$rosado-borde: hsl(349, 100%, 69%);
$color-global-claro-2-transparente: hsla(0, 100%, 80%, 0.548);
$color-global-claro-3: hsl(358, 80%, 50%);
$color-global-oscuro: hsl(1, 100%, 32%);
$azul-claro: hsl(223, 82%, 56%);
$azul-oscuro: hsl(223, 100%, 30%);
$celeste-claro: hsl(207, 100%, 69%);
$verde-claro: hsl(131, 72%, 56%);
$verde-oscuro: hsl(131, 100%, 22%);
$gris-c: hsl(0, 0%, 91%);
$gris-transparente: hsla(0, 0%, 80%, 0.635);
$gris-intenso: hsl(0, 0%, 59%);
$bkg: hsl(340, 10%, 6%);
$bkg-card: hsl(0, 0%, 13%);
$color-lcv-nfy: hsl(225, 73%, 57%);
$color-lcv-nfy-claro: hsl(225, 100%, 75%);
/* Redes sociales*/
$facebook: linear-gradient(to top right, $azul, $azul-claro, $celeste, $celeste-claro, $blanco);
$instagram: linear-gradient(to top right, #FCDE30, #E9712A, #D2313B, #AE4198, #75401A, #5443A8);
$linkedin: linear-gradient(to top right, #0077B5, #5fd2ff);
$tiktok: radial-gradient(circle, #cc082c, #250007, $negro);

* {
  outline: none;
  text-decoration: none;
  border: none;
}
button {
  cursor: pointer;
}

.box-modal-wsp {
  .whatsapp {
    position: fixed;
    bottom: 30px;
    left: 20px;
    width: 60px;
    height: 60px;
    z-index: 20;
    border-radius: 100%;
    color: $blanco;
    background-color: $verde-claro;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      font-size: 2.3em;
      font-weight: bold;
    }
    &:hover {
      background-color: $verde;
    }
  }
  .chat-bot {
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 20;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    color: $blanco;
    background-color: $azul-claro;
    transform: scaleX(-1);
    i {
      font-size: 2.3em;
      font-weight: bold;
    }
    &:hover {
      background-color: $azul-oscuro;
    }
  }
}

main {
  position: relative;
  top: 10vh;
  .relevant,
  .why-choose-us,
  .fondonegroinicio,
  .services,
  .news,
  .modal {
    margin: 130px auto;
    h3 {
      font-size: 2em;
      font-weight: bold;
      text-align: center;
      margin-bottom: 50px;
      &:hover {
        color: $color-global-claro;
      }
    }
  }
}

/*  Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-global-claro-2;
  border-radius: 10px;
  &:hover {
    background: $color-global-oscuro;
  }
}

body.modal-it,
body.modal-lcv,
body.modal-nfy {
  overflow-y: hidden !important;
  .ctn-backdrop1 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 900;
    pointer-events: auto;
    -webkit-tap-highlight-color: transparent;
    transition: opacity .1ms cubic-bezier(0.25, 0.8, 0.25, 1);
    background: rgba(0,0,0,.32);
  }
}
body.modal-it .all-modal-mit,
body.modal-lcv .all-modal-lcv,
body.modal-nfy .all-modal-nfy {
  transform: scale(1);
}

body.modal-open {
  overflow-y: hidden;
}