/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Images */
$url-img: "../../../assets/images/";
$url-img-news: "../../../assets/images/news/";
$url-img-slide: "../../../assets/slide/";

/* Colors */
$blanco: hsl(0, 0%, 100%);
$negro: hsl(0, 0%, 0%);
$color-global-claro: hsl(1, 100%, 55%);
$gris: hsl(0, 0%, 80%);
$color-global-claro-2: hsl(0, 100%, 71%);
$color-global-claro-2-transparente: hsla(0, 100%, 80%, 0.548);
$color-global-oscuro: hsl(1, 100%, 32%);
$gris-c: hsl(0, 0%, 91%);
$gris-transparente: hsla(0, 0%, 80%, 0.635);
$gris-intenso: hsl(0, 0%, 59%);

* {
  outline: none;
  text-decoration: none;
  border: none;
}
button {
  cursor: pointer;
}
/*.rastrea {
  right: 0;
  bottom: 100px;
  position: fixed;
}*/
.whatsapp {
  bottom: 210px;
}
.califica {
  bottom: 210px;
}
.md-body {
  color: white;
  background-color: #e61a23;
}
main {
  position: relative;
  top: 10vh;
  margin-bottom: 200px;
  .relevant,
  .why-choose-us,
  .fondonegroinicio,
  .services,
  .news,
  .modal {
    margin: 130px auto;
    h3 {
      font-size: 2em;
      font-weight: bold;
      text-align: center;
      margin-bottom: 50px;
      &:hover {
        color: $color-global-claro;
      }
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-global-claro-2;
  border-radius: 10px;
  &:hover {
    background: $color-global-oscuro;
  }
}