<div class="letratercondtitul">TÉRMINOS Y CONDICIONES</div>
    <div class="parrafo-0">
      Conste por el presente documento, que al momento de contratar los servicios de la empresa AREQUIPA EXPRESO MARVISUR E.I.R.L, en adelante <b>LA EMPRESA</b>, Usted, en calidad de REMITENTE en adelante <b>EL CLIENTE</b> y en nombre de cualquier persona interesada por el servicio de transporte (DESTINATARIO), declara conocer, cumplir y aceptar las condiciones abajo especificadas de acuerdo a las disposiciones legales y reglamentarias vigentes según DECRETO SUPREMO Nº 017-2009-MTC y CODIGO CIVIL:
    </div>
    <div class="parrafo-0">
      1. Por mercancía y/o carga. Se entiende a todos los bienes que son entregados a LA EMPRESA para el transporte de la misma.
    </div>
    <div class="parrafo-0">
      2. Cuando el <b>CLIENTE </b> entrega una mercancía y/o carga mal embalada y/o empaquetada, además con error en el rotulado, es decir sin la indicación de FRAGIL y/o lo que corresponda en caso de contar con un embalaje deficiente para su traslado, <b>LA EMPRESA</b> se reserva el derecho de aceptar y transportar la carga y/o mercancía, salvo QUE POR CUENTA Y RIESGO DEL REMITENTE, acepte el traslado con ese embalaje, eximiendo a LA EMPRESA de cualquier responsabilidad, si a consecuencia de lo antes descrito se ocasionaran daños los bienes de terceros y bienes de <b>LA EMPRESA, EL CLIENTE</b> asumirá los daños y perjuicios ocasionados..
    </div>
    <div class="parrafo-0">
      3. EL <b>CLIENTE</b> está obligado a declarar el contenido de su mercancía y/o carga así como entregar la documentación legal que permita su transporte, pues en caso de que oculte información y/o documentación, o se envíe mercancías y/o carga de sustancias y/o bienes restringidos, prohibidos e inaceptables para el transporte, con información o documentación falsa o que no corresponda a la naturaleza de los bienes, el CLIENTE, asumirá la responsabilidad administrativa, civil y/o penal que su acción amerite, eximiendo de responsabilidad a la EMPRESA.
    </div>
    <div class="parrafo-0">
      4. <b>LA EMPRESA</b> no transporta televisores, alimentos perecibles, productos detallados por SENASA, DIGESA Y SUNAT- ADUANAS, cuya comercialización estén prohibidas o restringidas por ley. Tampoco transporta toda clase de armas, municiones, explosivos o cualquier material inflamable, corrosivo, tóxico o peligroso, cilindros con contenido de gas, sin la documentación legal ni hoja de seguridad correspondientes. En el caso de especies silvestres y forestales no se transporta sin la guía de remisión de SERFOR.
    </div>
    <div class="parrafo-0">
      5. <b>LA EMPRESA</b> no se responsabiliza, cuando la mercancía y/o carga
      sufra perdida, extravió, sustracción, deterioro o destrucción, debido a
      circunstancias o factores ajenos a su control, ya sea por caso fortuito y de
      fuerza mayor, como fenómenos naturales, asaltos, siniestros, huelgas,
      Interrupción de las vías terrestres, incautaciones por funcionarios por
      SUNAT Y ADUANAS o representantes del Ministerio Publico.
    </div>
    <div class="parrafo-0">
      6. La entrega de las mercancías y/o carga se realiza en tiempo prudencial de
      acuerdo a las distancias, programación, disponibilidad de las unidades
      vehiculares, por lo que no acarrea responsabilidad para <b>LA EMPRESA</b>, y
      no asumirá penalidades, multas u otros, que deriven de las entregas
      efectuadas dentro del tiempo prudencial para el transporte y entrega de los
      bienes.
    </div>
    <div class="parrafo-0">
      7. <b>LA EMPRESA</b> no se responsabiliza por el envío de dinero, valores y
      joyas como mercancía y/o carga que no hayan sido debidamente declaradas.
    </div>
    <div class="parrafo-0">
      8. <b>LA EMPRESA</b> se ve obligada a sub contratar transporte fluvial en
      sus rutas con origen y/o destino Iquitos, <b>EL CLIENTE</b> acepta esta
      condición, asumiendo en su totalidad los riesgos que se puedan derivar del
      transporte de la mercadería.
    </div>
    <div class="parrafo-0">
      9. Para los casos previstos en la legislación sobre la materia,
      <b>EL CLIENTE</b> se obliga a entregar a <b>LA EMPRESA</b> el comprobante de
      pago que acredita su derecho de propiedad o posesión sobre la mercancía y/o
      carga de transporte, el cliente remitente es el único responsable ante la
      administración tributaria y otros con relación a la omisión y/o defectos de
      los datos consignados en el comprobante emitido por parte.
    </div>
    <div class="parrafo-0">
      10. La indemnización a favor de <b>EL CLIENTE</b> por una mercadería no
      sustentada con comprobantes de pago se regirá de acuerdo a lo estipulado en
      el Art.146 del D.S.032-2005- MTC,
      <b>REGLAMENTO NACIONAL DE FERROCARRILES</b> es decir que se abonara como
      única indemnización 10 veces el valor del servicio (FLETE) siempre y cuando
      guarde relación con lo enviado.
    </div>
    <div class="parrafo-0">
      11. <b>EL CLIENTE</b> esta sujeto a las políticas de <b>LA EMPRESA</b> en
      cuanto a sus servicios de reparto, considerando zonas accesibles, peso,
      volumen y las condiciones favorables para la entrega.
    </div>
    <div class="parrafo-0">
      12. <b>EL CLIENTE</b> tiene un plazo máximo de 7 días calendarios, para
      recoger su mercadería, pasado este tiempo <b>LA EMPRESA</b> procederá a
      cobrar el valor del 10% del flete por mes y sin fraccionamiento por concepto
      de almacenaje.
    </div>
    <div class="parrafo-0">
      13. Pasados tres meses, si la mercadería no fue recogida, será trasladada a
      los almacenes generales de Lima y Arequipa, los gastos de almacenaje y
      transporte serán asumidos por el cliente, este último deberá recoger su
      mercadería en los almacenes antes indicados asumiendo los gastos que se
      deriven de él.
    </div>
    <div class="parrafo-0">
      14. Pasado el año desde la fecha que fue ingresada a los almacenes
      generales, la mercancía y/o carga será declarada en abandono, por lo cual
      <b>EL CLIENTE</b> autoriza y faculta expresamente a <b>LA EMPRESA</b>, para
      que esta disponga la referida mercancía y/o carga, en la forma que estime
      conveniente.
    </div>
    <div class="parrafo-0">
      15. <b>LA EMPRESA</b> está facultada a disponer la eliminación o
      incineración de las encomiendas que contengan bienes perecibles, que por no
      haber sido recepcionados o reclamadas en su debida oportunidad, se
      encuentran en evidente estado de putrefacción orgánica, esta incineración
      procederá inclusive antes del vencimiento de los plazos señalados en las
      condiciones 12,13 y 14.
    </div>
    <div class="parrafo-0">
      16. En tal sentido <b>EL CLIENTE</b> declara conocer los alcances de las
      Condiciones precedentes Motivo por el cual <b>EL CLIENTE</b> renuncia a
      cualquier derecho a reembolso o indemnización de los mismos.
    </div>