.parrafo-0{
    text-align: justify;
    margin-bottom: 10px;
    font-size: 15px;
}
.letratercondtitul{
    color: #de0915;
    text-align: start;
    font-family: 'Montserrat', sans-serif;

    position: relative;
    font-weight: bolder;
    font-size: 28px;
    margin-top: 15px;
    margin-bottom: 15px;
}