<!-- titulo e imagen-->
<div class="portadaAll">
  <img
    class="img"
    src="assets/images/portadaoportunidadnuevo.png"
    height="100%"
    width="100%"
  />
</div>
<div class="title-peque text-center">TRABAJA CON NOSOTROS</div>
<div class="container">
  <div class="animated fadeIn fast">
    <div class="imagenfluid3" id="idoportunidadlaboral">
      <!-- <div class="container"> <img src="assets/images/trabaja-con-nosotros.png" width="100%" height="100%">
        </div> -->
    </div>

    <div class="rojo col-lg-4 col-12">OFERTAS DE EMPLEO DISPONIBLES</div>

    <!-- tabla de convoctaorias (puestos de trabajo)-->
    <div class="tablita">
      <br />
      <div class="row rw1">
        <div class="letra-cabe letra-ana col-1 col-lg-2">N°</div>
        <div class="letra-cabe letra-ana col-3 col-lg-3">SUCURSAL</div>
        <div class="letra-cabe letra-ana col-4 col-lg-5">PUESTO</div>
        <div class="letra-cabe letra-ana col-3 col-lg-1">ENVÍA TU CV</div>
      </div>
      <div *ngFor="let item of pageOfItems" class="row rw1">
        <div class="border-right letra-ana col-1 col-lg-2">{{ item.code }}</div>
        <div class="border-right letra-ana col-3 col-lg-3">
          {{ item.lugar }}
        </div>
        <div class="border-right letra-ana col-4 col-lg-5">
          {{ item.cargo }}
        </div>
        <div class="col-2 col-lg-1">
          <button
            (click)="doStuff(item.code)"
            type="submit"
            data-toggle="modal"
            data-id="{{ item.code }}"
            data-target="#modalConvocatoriaPuesto"
            class="btn btn-primary btn1"
          >
            <span class="fa fa-folder-open"></span>
          </button>
        </div>
      </div>
      <div class="paginacion-oportunidad">
        <jw-pagination
          [items]="items"
          [pageSize]="4"
          (changePage)="onChangePage($event)"
        ></jw-pagination>
      </div>
    </div>

    <!-- enviar tu cv -->
    <br />
    <div type="submit" class="rojo col-lg-4 col-12">
      ¿NO ENCUENTRAS PUESTO PARA TU ESPECIALIDAD?
    </div>

    <div
      class="row col-lg-4 col-12 button-cv-directo"
      (click)="doStuff(0)"
      type="submit"
      data-toggle="modal"
      data-id=""
      data-target="#exampleModalLong"
    >
      <button class="btn-envio-directo-cv btn-primary">
        <span class="fa fa-folder-open fa-2x"></span>
      </button>
      <div class="letra-cv-envia">ENVÍA TU CURRICULUM VITAE</div>
    </div>
    <br />
  </div>
</div>

<!-- modal de busqueda envio cv-->
<div
  class="modal fade"
  *ngFor="let convocatoria of convocatorias"
  id="exampleModalLong"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLongTitle"
  aria-hidden="true"
  data-backdrop="static"
  data-keyboard="false"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">Envíanos tu Curriculum Vitae</div>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container">
          <div [hidden]="submitted">
            <div class="tabla-cv" *ngIf="flag">
              <div class="row">
                <div class="letra-cabe letra-curri col-2">PUESTO</div>
                <div class="letra-cabe letra-curri col-2">CÓDIGO</div>
                <div class="letra-cabe letra-curri col-2">SUCURSAL</div>
                <div class="letra-cabe letra-curri col-4">CONOCIMIENTOS</div>
              </div>
              <div class="row">
                <div class="border-right letra-curri col-2">
                  {{ convocatoriaSeleccionada.cargo }}
                </div>
                <div class="border-right letra-curri col-2">
                  {{ convocatoriaSeleccionada.code }}
                </div>
                <div class="border-right letra-curri col-2">
                  {{ convocatoriaSeleccionada.lugar }}
                </div>
                <div class="col-4" *ngIf="words.length > 1">
                  <li style="list-style: none" *ngFor="let word of words">
                    <div class="letra-curri">{{ word }}</div>
                  </li>
                </div>
                <div class="col-4" *ngIf="words.length == 1">
                  <div class="letra-curri">
                    {{ convocatoriaSeleccionada.conocimientos }}
                  </div>
                </div>
              </div>
            </div>
            <form
              (ngSubmit)="onSubmit(CurriculumForm)"
              #CurriculumForm="ngForm"
            >
              <div class="form-group">
                <label for="nombresyape">Apellidos y Nombres</label>
                <input
                  type="text"
                  name="nombresyape"
                  #nombresyape="ngModel"
                  [(ngModel)]="cvModel.nombresyape"
                  class="form-control"
                  required
                />
                <div
                  [hidden]="nombresyape.valid || nombresyape.pristine"
                  class="alert alert-danger"
                >
                  se requiere
                </div>
              </div>

              <div class="form-group">
                <label for="email">Correo Electrónico</label>
                <input
                  type="email"
                  class="form-control"
                  required
                  [(ngModel)]="cvModel.email"
                  name="email"
                  #email="ngModel"
                  placeholder="example@gmail.com"
                />
                <div
                  [hidden]="email.valid || email.pristine"
                  class="alert alert-danger"
                >
                  se requiere
                </div>
              </div>

              <div class="row r1">
                <div class="form-group col-lg-5">
                  <label for="edad">Edad:</label>
                  <input
                    type="text"
                    class="form-control"
                    required
                    [(ngModel)]="cvModel.edad"
                    name="edad"
                    #edad="ngModel"
                    placeholder="+18"
                  />
                  <div
                    [hidden]="edad.valid || edad.pristine"
                    class="alert alert-danger"
                  >
                    se requiere
                  </div>
                </div>
                <div class="col-1"></div>
                <div class="form-group col-lg-6">
                  <label for="telefono">Teléfono / Celular:</label>
                  <input
                    type="tel"
                    class="form-control"
                    required
                    [(ngModel)]="cvModel.telefono"
                    name="telefono"
                    #telefono="ngModel"
                    placeholder="99 0999985"
                  />
                  <div
                    [hidden]="telefono.valid || telefono.pristine"
                    class="alert alert-danger"
                  >
                    se requiere
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="direccion">Dirección Actual:</label>
                <input
                  type="email"
                  class="form-control"
                  required
                  [(ngModel)]="cvModel.direccion"
                  name="direccion"
                  #direccion="ngModel"
                />
                <div
                  [hidden]="direccion.valid || direccion.pristine"
                  class="alert alert-danger"
                >
                  se requiere
                </div>
              </div>

              <div class="form-group">
                <label for="expectativa">Expectativa Salarial:</label>
                <input
                  type="text"
                  class="form-control"
                  required
                  [(ngModel)]="cvModel.expectativaSalarial"
                  name="expectativa"
                  #expectativa="ngModel"
                />
                <div
                  [hidden]="expectativa.valid || expectativa.pristine"
                  class="alert alert-danger"
                >
                  se requiere
                </div>
              </div>

              <div class="form-group">
                <label class="form-label" for="file"
                  >Cargar CV: <b>Máximo 2 MB </b></label
                >

                <angular-file-uploader
                  [config]="afuConfig"
                  (ApiResponse)="CvUpload($event)"
                >
                </angular-file-uploader>
              </div>

              <button
                type="button"
                class="btn btn-success col-lg-12"
                (click)="cargarCV()"
                data-toggle="modal"
                data-dismiss="modal"
                data-target="#modalRespuesta"
                [disabled]="!CurriculumForm.form.valid"
              >
                Enviar Datos
              </button>
              <!-- <button type="button" class="btn btn-default" (click)="newCurriculum(); CurriculumForm.reset()">New Curriculum</button>-->
            </form>
          </div>
        </div>
      </div>

      <div class="modal-footer"></div>
    </div>
  </div>
</div>

<!-- modal de envio de cv pero por puesto-->
<div
  class="modal fade"
  *ngFor="let convocatoria of convocatorias"
  id="modalConvocatoriaPuesto"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLongTitle"
  aria-hidden="true"
  data-backdrop="static"
  data-keyboard="false"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">{{ convocatoriaSeleccionada.cargo }}</div>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body text__curri">
        <div class="row">
          <div class="letra-convocatoria-modal1 col-3">SEDE:</div>
          <div>{{ convocatoriaSeleccionada.lugar }}</div>
        </div>
        <div class="row">
          <div class="letra-convocatoria-modal col-12">HABILIDADES:</div>
          <div class="" *ngIf="words.length > 1">
            <li class="col-12" *ngFor="let word of words">{{ word }}</li>
          </div>
          <div class="col-12" *ngIf="words.length == 1">
            <div>{{ convocatoriaSeleccionada.conocimientos }}</div>
          </div>
        </div>
        <div class="row">
          <div class="letra-convocatoria-modal col-12">FORMACION:</div>
          <div class="col-12">{{ convocatoriaSeleccionada.estudios }}</div>
        </div>

        <div class="row">
          <div class="letra-convocatoria-modal col-12">FUNCIONES:</div>
          <div class="" *ngIf="funcionesList.length > 1">
            <li class="col-12" *ngFor="let funciones of funcionesList">
              {{ funciones }}
            </li>
          </div>
          <div class="col-12" *ngIf="funcionesList.length == 1">
            <div>{{ convocatoriaSeleccionada.funciones }}</div>
          </div>
        </div>
        <div class="row">
          <div class="letra-convocatoria-modal1 col-3">VACANTES:</div>
          <div class="col-3">{{ convocatoriaSeleccionada.vacantes }}</div>
        </div>
        <div class="form-group">
          <!-- <label class="form-label cargacv" for="file" >Cargar CV:</label>-->
          <!--
                    <input type="file" class="form-control" id="file" required [(ngModel)]="cvModel.cv" name="file" #file="ngModel">
                    <div [hidden]="file.valid || file.pristine" class="alert alert-danger">
                        se requiere
                    </div>-->
          <br />
          <b>Cargar CV: Máximo 2 MB </b>
          <angular-file-uploader
            [config]="afuConfig"
            (ApiResponse)="CvUpload($event)"
          >
          </angular-file-uploader>
        </div>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          (click)="cargarCV()"
          data-toggle="modal"
          data-dismiss="modal"
          data-target="#modalRespuesta"
          class="btn btn-success col-lg-12"
        >
          Enviar Para su Revisión
        </button>
      </div>
    </div>
  </div>
</div>

<!-- modal de respuesta-->
<div
  class="modal fade"
  id="modalRespuesta"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog modal-sm modal-cotiza" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mensaje</h5>
        <button
          type="button"
          class="close"
          (click)="close()"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="check == 1">Se ingresó correctamente</div>
        <div *ngIf="check == 0">Ingresando datos...</div>
        <div *ngIf="check == 2">No se ingresó, verifique los datos.</div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          (click)="close()"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
