@import "../../app.component.scss";
:root {
    --color:e61a23;
}


.titlepeque1 {
    background: linear-gradient(90deg, rgba(59, 36, 36, 1) 0%, rgba(218, 49, 56, 1) 23%, rgba(221, 9, 20, 1) 48%, rgba(207, 54, 60, 1) 80%, rgba(56, 29, 29, 1) 100%);
    position: relative;
    border-radius: 25px;
    font-weight: bolder;
    width:30%;
    height: 10%;
    left: 50%;
    bottom: 50px;
    font-size: 15px;
    -webkit-transform: translate(-50%, 20%);
    -moz-transform: translate(-50%, 20%);
    transform: translate(-50%, 20%);
    text-align: center;
    vertical-align: middle;
    line-height: 65px;
    color: white;
}
.noBorder {
    background: #878585;
    width: 100%;
}

.rojo{
    height: 5%;
    background-color: #e61a23;
    border-radius: 15px;
    text-align: center;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    color:white ;
    line-height: 25px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.btn1 {
    background-color: var(--color-pagina);
    border: none;
    position: relative;
    left: 10%;
}
.btn {
    background-color: #e61a23;
    border: none;
}
.pagination {
    position: relative;
    left: 40%;
    top: -20px;
    color: black;
}
.page-link {
    background-color: transparent;
    color: var(--color-pagina);
    border-radius: 15px;
}
.boton-envio {
    display: block;
    position: relative;
    height: 10%;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    color: black;
    border: none;
    box-shadow: 2px 2px 2px 2px #878585;
    line-height: 20px;
    margin-bottom: 15px;
}
.letra-cabe {
    color: var(--color-pagina);
    font-weight: bolder;
    width: 100%;
}
.paginacion-oportunidad{
    display: flex;
    justify-content: center;
    text-align: center;
}
.tablita {
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    padding-left: 5%;
    box-shadow: 2px 2px 2px 2px#878585;
    padding-right: 5%;

}

.tabla-cv {
    border-radius: 10px;
    width: 100%;
    box-shadow: 2px 2px 2px 2px #878585;
    height: 100%;
}
.rw1 {
    margin-bottom: 5px;
    border-bottom: 2px solid #878585;
    border-width: 1px;
}
.border-right {
    height: 30px;
    border-width: 2px !important;
}
.alert-danger {
    height: 5px;
}
.letra-curri {
    font-size: 12px;
}
@media only screen and (max-width: 600px) {
    .letra-cabe {
        font-size: 15px;
    }
    .letra-ana {
        font-size: 10px;
        height: 100%;
    }
    .rojo {
        font-size: 10px;
    }
    .titlepeque1 {
        font-size: 12px !important;
        width: 70%;
    }
    .md {
        max-width: 100%;
        margin: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        padding: 0;
        display: flex;
    }
}

.modal-title {
    background-color: #e61a23;
    color: white;
    height: 100%;
    text-align: center;
    font-size: 20px;
    width: 100%;
}
.modal-header {
    height: 10%;
}
.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42A948;
    /* green */
}
.ng-invalid:not(form) {
    border-left: 5px solid #e61a23;
    /* red */
}
.btn-envio-directo-cv{
    color: #e61a23;
    background-color: white;
    border: none;
    border-radius: 10px;
}
.button-cv-directo{
    background-color:white;
    text-align: center;
    color: black;
    height: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px#878585;
}
.letra-cv-envia{
    padding-top: 12px;
}
jw-pagination ::ng-deep .page-item.active .page-link {
    border-color: transparent;
    background-color: #e61a23;
  }
.letra-convocatoria-modal{
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}
.letra-convocatoria-modal1{
    font-weight: bold;
}
.cargacv{
    font-weight: bold;
}
.text__curri{
    text-align: left;
}

