<main class="work-with-us">
  <div class="ctn-wwu">
    <div class="front-page-wwu">
      <img class="img" src="assets/images/portadaoportunidadnuevo.png"/>
      <div class="ctn-curved">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-0.84,85.38 C221.50,152.47 310.10,-64.61 503.67,69.58 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(255, 255, 255);"></path></svg>
      </div>
    </div>
    <h2>TRABAJA CON NOSOTROS</h2>
    <div class="ctn-box-cv">
      <ul class="head">
        <li class="departamento">
          Departamento
        </li>
        <li class="puesto">
          Puesto
        </li>
        <li class="ad-cv">
          Adjunta tu CV
        </li>
      </ul>
      <ul *ngFor="let item of pageOfItems" class="body b-{{ item.code }}">
        <li class="departamento">
          <h5>{{ item.lugar }}</h5>
        </li>
        <li class="puesto">
          <p>{{ item.cargo }}</p>
        </li>
        <li class="ad-cv">
          <button
            (click)="doStuff(item.code)"
            type="submit"
            data-toggle="modal"
            data-id="{{ item.code }}"
            data-target="#modalConvocatoriaPuesto"
          >
            <i class="fa fa-folder-open"></i>
          </button>
        </li>
      </ul>
      <div class="ctn-pagination">
        <jw-pagination
          [items]="items"
          [pageSize]="6"
          (changePage)="onChangePage($event)"
        >
        </jw-pagination>
      </div>
    </div>
    <div (click)="doStuff(0)" class="foot-ctn-wwu">
      <div class="foot-wwu">
        <span>¿No encuentras un puesto laboral para tu especialidad?</span>
        <button>
          <i class="fa fa-folder-open"></i>
        </button>
      </div>
    </div>
  </div>
</main>