@import "../../../app.component.scss";

// Desktop
header {
    background-color: $blanco;
    position: fixed;
    width: 100%;
    height: 10vh;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px $gris;
    .ctn-header {
        max-width: 1600px;
        width: 100%;
        margin: auto 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .ctn-logo {
            width: 160px;
            img {
                width: 100%;
            }
        }
        nav {
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
                li {
                    margin-right: 40px;
                    transition: all 0.6s ease-in-out;
                    font-size: 1.25em;
                    font-weight: 600;
                    a,
                    .active {
                        color: $color-global-claro;
                        display: block;
                        text-decoration: none;
                        position: relative;
                        &::before {
                            content: "";
                            position: absolute;
                            width: 70%;
                            height: 3px;
                            bottom: -7px;
                            left: 15%;
                            background-color: $color-global-claro;
                            transition: all 0.4s ease-in-out;
                            transform: scale(0, 0);
                            visibility: hidden;
                        }
                    }
                    .active::before {
                        transform: scale(1, 1);
                        visibility: visible;
                    }
                    &:hover {
                        .submenu {
                            height: 220px;
                        }
                        a {        
                            color: $color-global-claro;
                            &::before {
                                visibility: visible;
                                transform: scale(1, 1);
                            }
                        }
                    }
                    .submenu {
                        overflow: hidden;
                        position: absolute;
                        display: inline;
                        width: 250px;
                        margin-top: 4px;
                        background-color: $color-global-claro;
                        height: 0;
                        line-height: 15px;
                        box-sizing:border-box;
                        transition:height 0.3s ease-in-out;
                        transition-delay: 0.1s;
                        border: 1px solid $blanco;
                        border-radius: 15px;
                        li {
                            transition: .6s ease;
                            -moz-transition: .6 ease; 
                            -webkit-transition: .6 ease;
                            -o-transition: .6 ease;
                            text-align: left;
                            margin-left: 30px;
                            &:hover {
                                transform : scale(1.2);
                                -moz-transform : scale(1.2); 
                                -webkit-transform : scale(1.2);
                                -o-transform : scale(1.2);
                                -ms-transform : scale(1.2);
                            }
                            a {
                                font-size: .55em;
                                color: $blanco;
                                margin-top: 30px;
                                i {
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                    .home {
                        display: none;
                    }
                }
            }
        }
        .right {
            display: flex;
            a {
                margin-right: 10px;
                img {
                    width: 32px;
                    height: 32px;
                    transition: .6s ease;
                    -moz-transition: .6 ease; 
                    -webkit-transition: .6 ease;
                    -o-transition: .6 ease;
                    &:hover {
                        transform : scale(1.2);
                        -moz-transform : scale(1.2); 
                        -webkit-transform : scale(1.2);
                        -o-transform : scale(1.2);
                        -ms-transform : scale(1.2);
                    }
                }
                i {
                    font-size: 1.2em;
                    background-color: $color-global-claro;
                    color: $blanco;
                    border-radius: 50%;
                    padding: 7px 10px;
                    transition: .6s ease;
                    -moz-transition: .6 ease; 
                    -webkit-transition: .6 ease;
                    -o-transition: .6 ease;
                    &:hover {
                        transform : scale(1.2);
                        -moz-transform : scale(1.2); 
                        -webkit-transform : scale(1.2);
                        -o-transform : scale(1.2);
                        -ms-transform : scale(1.2);
                    }
                }
            }
            .final {
                margin: 0;
            }
        }
        .btn-menu {
            display: none;
        }
    }
}
// Mobile
@media only screen and (max-width: 1300px) {
    header .ctn-header {
        .btn-menu {
            height: 40px;
            width: 40px;
            display: block;
            background-color: transparent;
            border-color: $color-global-claro;
            cursor: pointer;
            border-radius: 5px;
            outline: none;
            border: none;
            i {
                text-align: center;
                font-size: 2em;
                font-weight: 600;
                color: $color-global-claro;
            }
        }
        nav {
            position: fixed;
            height: auto;
            top: 10vh;
            width: 360px;
            right: -360px;
            transition: all 0.4s ease-in-out;
            ul {
                flex-direction: column;
                li{
                    margin-bottom: 40px;
                    margin-left: 0;
                    a {
                        color: $color-global-claro;
                    }
                    ul {
                        position: relative;
                        z-index: 15;
                        li {
                            margin: 0;
                        }
                    }
                    .home {
                        display: block;
                    }
                }
            }
            .card-general {
                border-top: 1px solid $color-global-claro;
                border-bottom: 1px solid $color-global-claro;
                padding: 40px 0;
                background-color: $blanco;
            }
            &.is-open {
                transition: all 0.4s ease-in-out;
                display: block;
                position: absolute;
                width: 100%;
                right: 0;
            }
        }
    }
}
@media only screen and (max-width: 590px) {
    header .ctn-header {
        .next-center {
            display: none;
        }
    }
}