<mat-dialog-content class="ctn-modal-lcv">
  <div class="modal-lcv">
    <article class="announcement">
      <div class="content-announ">
        <h4>{{ convocatoriaSeleccionada.cargo }}</h4>
        <ul>
          <li class="li-ge">
            <b>Sede</b>
            <span>{{ convocatoriaSeleccionada.lugar }}</span>
          </li>
          <li class="li-ge">
            <b>Habilidades</b>
            <ul *ngIf="words.length > 1">
              <li *ngFor="let word of words">
                <span>{{ word }}</span>
              </li>
              <li *ngIf="words.length == 1">
                <span>{{ convocatoriaSeleccionada.conocimientos }}</span>
              </li>
            </ul>
          </li>
          <li class="li-ge">
            <b>Formación</b>
            <span>{{ convocatoriaSeleccionada.estudios }}</span>
          </li>
          <li class="li-ge">
            <b>Funciones</b>
            <ul *ngIf="funcionesList.length > 1">
              <li *ngFor="let funciones of funcionesList">
                <span>{{ funciones }}</span>
              </li>
              <li *ngIf="funcionesList.length == 1">
                {{ convocatoriaSeleccionada.funciones }}
              </li>
            </ul>
          </li>
          <li class="li-ge">
            <b>Vacantes</b>
            <span>{{ convocatoriaSeleccionada.vacantes }}</span>
          </li>
          <li class="upload-cv">
            <b>Cargar CV: Máximo 2 MB</b>
            <angular-file-uploader style="border:none !important;" [config]="afuConfig" (ApiResponse)="CvUpload($event)">
            </angular-file-uploader>
            <!-- <div data-tooltip="Máximo: 2Mb" class="button">
              <div class="button-wrapper">
                <div class="text">Adjuntar CV</div>
                <div class="icon">
                  <i class="fa-solid fa-download"></i>
                </div>
              </div>
            </div> -->
          </li>
        </ul>
        <div class="modal-footer">
          <button
            type="button"
            (click)="cargarCV()"
            class="send-cv"
          >
            <span>Enviar</span>
          </button>
        </div>
      </div>
    </article>
    <!-- modal de respuesta-->
    <div
      class="modal fade"
      id="modalRespuesta"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
      data-backdrop="static"
      data-keyboard="false"
    >
      <div class="modal-dialog modal-sm modal-cotiza">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Mensaje</h5>
          </div>
          <div class="modal-body">
            <div *ngIf="check == 1">Se ingresó correctamente</div>
            <div *ngIf="check == 0">Ingresando datos...</div>
            <div *ngIf="check == 2">No se ingresó, verifique los datos.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="noselect">
    <span class="text">Salir</span>
    <span class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path></svg></span></button>
  <button mat-button mat-dialog-close>Salir</button>
</mat-dialog-actions>