<main class="suggestions">
  <div class="ctn-suggestions">
    <h2>Buzón de sugerencias</h2>
    <form class="form" (ngSubmit)="onSubmitSugerencia()">
      <div class="field">
        <input
          autocomplete="off"
          placeholder="Nombres y apellidos"
          class="input-field"
          type="text"
          name="nombresyape"
          required
          #nombresyape="ngModel"
          [(ngModel)]="sugerenciaModel.nom_sug" 
        />
      </div>
      <div class="field">
        <input
          autocomplete="off"
          placeholder="Celular (Opcional)"
          class="input-field"
          type="text"
          required
          [(ngModel)]="sugerenciaModel.tel_sug"
          name="telefono"
          #telefono="ngModel"
          maxlength="9"
          minlength="9"
          (keypress)="singleNumber($event)"
        />
      </div>
      <div class="field">
        <input
          autocomplete="off"
          placeholder="Ciudad"
          class="input-field"
          type="text"
          required
          [(ngModel)]="sugerenciaModel.ciu_sug"
          name="ciudad"
          #ciudad="ngModel"
        />
      </div>
      <div class="field">
        <textarea
          placeholder="Detalles..."
          class="input-field"
          required
          [(ngModel)]="sugerenciaModel.det_sug"
          name="detalle"
          #detalle="ngModel"
          rows="8"
        ></textarea>
      </div>
      <button>
        <i class="fa-solid fa-paper-plane fa-beat-fade"></i>
        Enviar
      </button>
    </form>
  </div>
</main>
