@import "../../../app.component.scss";

.suggestions {
  background-image: url('../'+$url-au+'LINEAS M.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  .ctn-suggestions {
    max-width: 700px;
    margin: auto;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 100px;
    h2 {
      font-size: 4rem;
      font-weight: bold;
      text-align: center;
      background-image: linear-gradient(to right, $color-global-claro, $azul);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 0.3s ease-in-out;
      transform: scale(.9);
      &:hover {
        transform: scale(1);
        background-size: 100% auto;
        -webkit-text-fill-color: $color-global-claro;
      }
    }
    .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 450px;
      width: 100%;
      gap: 30px;
      margin: auto;
      padding: 25px;
      background-color: transparent;
      border-radius: 25px;
      border: 1px solid transparent;
      transition: .4s ease-in-out;
      &:hover {
        border: 1px solid $color-global-claro;
        box-shadow: 0 0 10px $color-global-claro-2;
      }
      .field {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 22px;
        padding: 0.6em;
        border: 1px solid $azul-claro;
        outline: none;
        .input-field {
          background: none;
          border: none;
          outline: none;
          width: 100%;
          color: $negro;
          padding: 0 10px;
        }
        textarea {
          resize: none;
        }
      }
      button {
        width: 200px;
        padding: 0.5em;
        padding-left: 2.3em;
        padding-right: 2.3em;
        border-radius: 5px;
        border: none;
        outline: none;
        margin: auto;
        transition: .3s ease-in-out;
        color: $blanco;
        background-color: #646464;
        &:hover {
          background-color: $negro;
          color: $blanco;
        }
        i {
          margin-right: 20px;
        }
      }
    }
    .form .btn {
      display: flex;
      justify-content: center;
      flex-direction: row;
      margin-top: 2.5em;
    }
  }
}